<template>
	<AppLayout>
		<!-- Events -->
		<section class="w-full px-5 py-6 mx-auto sm:py-8 md:py-12 max-w-7xl">
			<h1
				id="events"
				class="mb-5 md:mb-16 text-center text-5xl font-extrabold leading-10 tracking-tight text-left text-gray-900 dark:text-gray-100 md:text-center sm:leading-none md:text-6xl lg:text-7xl"
			>
				<span class="inline font-atma">Les</span> <span class="relative mt-2 text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 to-indigo-500 md:inline-block font-atma">événements</span>
			</h1>

			<header>
				<top-events />
			</header>

			<main class="mt-4 md:mt-20">
				<section>
					<future-events />
				</section>

				<section>
					<past-events />
				</section>
			</main>
		</section>
	</AppLayout>
</template>

<script>
import AppLayout from "@/views/layouts/AppLayout.vue";
import TopEvents from "./Events/TopEvents.vue";
import FutureEvents from "./Events/FutureEvents.vue";
import PastEvents from "./Events/PastEvents.vue";

export default {
	name: "Events",
	components: {
		AppLayout,
		TopEvents,
		FutureEvents,
		PastEvents,
	},
};
</script>
