<template>
    <AppLayout>
        <!-- Events -->
        <section class="w-full px-5 py-6 mx-auto sm:py-8 md:py-12 max-w-7xl">
            <h1
                id="events"
                class="mb-5 md:mb-16 text-center text-5xl font-extrabold leading-10 tracking-tight text-left text-gray-900 dark:text-gray-100 md:text-center sm:leading-none md:text-6xl lg:text-7xl"
            >
                <span class="inline font-atma">Mentions </span>
                <span
                    class="relative mt-2 text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 to-indigo-500 md:inline-block font-atma"
                    >légales</span
                >
            </h1>

            <main
                class="text-black dark:text-white max-w-2xl mx-auto prose-lg"
            >
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Praesent id varius arcu. Duis elementum maximus feugiat. Ut
                    id facilisis sapien. Ut auctor, erat eget ultricies
                    pellentesque, turpis sem posuere dui, sed venenatis magna ex
                    ut augue. Etiam bibendum justo leo, et accumsan magna
                    viverra et. Fusce a odio malesuada, mattis orci id, bibendum
                    dui. Donec ultricies arcu orci, ut eleifend magna accumsan
                    sed. Proin vehicula bibendum venenatis.
                </p>

                <p>
                    Donec condimentum purus est, a maximus ex pretium at. Nam ac
                    bibendum urna, in pretium erat. In hendrerit lectus eu purus
                    vulputate malesuada. Nullam ornare porta massa et tempor. In
                    hac habitasse platea dictumst. Nunc sit amet nisl nec diam
                    bibendum fermentum id in leo. Morbi hendrerit molestie
                    justo, at sodales lectus ultrices eget. Nam varius dolor
                    purus, id cursus est elementum ac. Donec blandit nec felis
                    id rhoncus. Maecenas eget sapien eu enim placerat auctor.
                    Nulla facilisi. Etiam porta leo eget leo ultricies
                    vestibulum. Mauris vel interdum turpis, nec bibendum diam.
                </p>

                <p>
                    Integer pellentesque tristique turpis, ac placerat orci
                    vehicula et. Maecenas sed sapien libero. Quisque dictum nisl
                    vel venenatis tempus. Curabitur eleifend nibh ut magna
                    dignissim, non hendrerit tortor pretium. Etiam ut tellus sit
                    amet ligula placerat tincidunt quis non est. Fusce vulputate
                    lacinia orci sed porta. Donec semper nunc vitae urna
                    fringilla, et scelerisque nibh ullamcorper. Duis at eleifend
                    sapien, eu posuere dolor. Vivamus sagittis purus commodo
                    fermentum euismod. Suspendisse potenti. Vestibulum ante
                    ipsum primis in faucibus orci luctus et ultrices posuere
                    cubilia curae; Nunc luctus massa convallis lacus egestas
                    hendrerit. Morbi sed mauris ac orci lobortis eleifend. Sed
                    et quam ac felis bibendum feugiat a eget enim. Suspendisse
                    augue metus, venenatis eget risus consectetur, tincidunt
                    feugiat massa.
                </p>

                <p>
                    Ut fermentum pharetra lacus nec porttitor. Curabitur ut quam
                    felis. Vivamus pulvinar ante vitae felis hendrerit
                    dignissim. Nam eu interdum arcu. Vivamus mollis placerat
                    sem, a ultricies massa vulputate eget. Etiam facilisis
                    porttitor enim eget efficitur. Nulla ac lectus ut nisi
                    aliquet iaculis vitae nec quam. Quisque vestibulum nec velit
                    efficitur consectetur. Donec porttitor feugiat ipsum, in
                    elementum turpis commodo id. Cras id laoreet erat. Donec at
                    lobortis elit. Proin justo lacus, porttitor eu condimentum
                    id, posuere in nunc. Nunc commodo diam a magna interdum, ut
                    commodo purus tincidunt. Aliquam tincidunt, ex porta
                    vestibulum cursus, enim diam consequat risus, id efficitur
                    arcu mi in turpis. Quisque iaculis feugiat semper.
                </p>

                <p>
                    Etiam sit amet diam urna. Pellentesque habitant morbi
                    tristique senectus et netus et malesuada fames ac turpis
                    egestas. Aliquam nisi ante, tincidunt in accumsan sit amet,
                    venenatis sed ante. Fusce vulputate ultricies nibh, at
                    tincidunt purus laoreet nec. Aenean pretium tortor ac est
                    mollis finibus. Nulla tristique, nunc at fermentum lobortis,
                    metus ipsum pharetra mauris, quis dictum elit odio id erat.
                    Praesent sollicitudin consectetur ipsum sit amet dictum.
                    Donec vitae tempor nisi. Praesent non lorem suscipit,
                    porttitor velit vitae, auctor enim. Cras quis arcu vel ante
                    rutrum volutpat.
                </p>
            </main>
        </section>
    </AppLayout>
</template>

<script>
import AppLayout from "@/views/layouts/AppLayout.vue";
export default {
    name: "LegalMentions",
    components: {
        AppLayout
    }
};
</script>
