<template>
    <AppLayout>
        <section
            id="planning"
            class="w-full px-5 py-6 mx-auto sm:py-8 md:py-12 max-w-7xl"
        >
            <h1
                class="text-5xl font-extrabold leading-10 tracking-tight text-left text-gray-900 dark:text-gray-100 md:text-center sm:leading-none md:text-6xl lg:text-7xl"
            >
                <span class="inline font-atma">Le </span
                ><span
                    class="font-atma relative mt-2 text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 to-indigo-500 md:inline-block"
                    >planning</span
                >
            </h1>

            <article class="w-full md:w-2/3 mx-auto mt-8">
                <v-calendar
                    ref="calendar"
                    class="custom-calendar max-w-full"
                    v-bind:masks="masks"
                    v-bind:attributes="attributes"
                    disable-page-swipe
                    is-expanded
                    locale="fr"
                    :is-dark="$root.isDarkTheme"
                >
                    <template v-slot:day-content="{ day, attributes }">
                        <div class="flex flex-col h-full z-10 overflow-hidden">
                            <span class="day-label text-sm text-gray-900">{{
                                day.day
                            }}</span>
                            <div
                                class="flex-grow overflow-y-auto overflow-x-auto"
                            >
                                <div v-if="attributes">
                                    <router-link
                                        :to="{
                                            name: 'events.show',
                                            params: { id: attr.key }
                                        }"
                                        v-for="attr in attributes"
                                        :key="attr.key"
                                        class="block text-xs leading-tight rounded-sm p-1 mt-0 mb-1"
                                        :style="
                                            `background-color: ${attr.customData.bgColor}; color: ${attr.customData.textColor};`
                                        "
                                    >
                                        <!-- Start hour -->
                                        <div
                                            v-if="
                                                attr.customData.startDay == day
                                            "
                                        >
                                            {{
                                                attr.customData.startTime +
                                                    " - "
                                            }}
                                        </div>

                                        <!-- End hour -->
                                        <div
                                            v-if="
                                                attr.customData.endDay ==
                                                    day.day
                                            "
                                        >
                                            {{
                                                attr.customData.endTime + " - "
                                            }}
                                        </div>

                                        {{ attr.customData.title }}
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </template>
                </v-calendar>
            </article>
        </section>
    </AppLayout>
</template>

<script>
import AppLayout from "@/views/layouts/AppLayout.vue";
import axios from "axios";

export default {
    name: "Planning",
    components: {
        AppLayout
    },
    mounted() {
        // Fetch events
        axios.get(`http://localhost:3001/planning/events`).then(res => {
            this.attributes = res.data;
            this.attributes.forEach(event => {
                event.customData.bgColor = "#7c3aed";
                event.customData.textColor = "#ffffff";
            });
        });
    },
    data() {
        return {
            masks: {
                weekdays: "WWW"
            },
            attributes: []
        };
    },
    methods: {
        /**
         * Take a background color and return a readable color for the text
         * @param {String} bgColor An hexadecimal color
         * @returns String
         */
        getCleanColor: function(bgColor) {
            const red = parseInt(bgColor.slice(1, 3), 16);
            const green = parseInt(bgColor.slice(3, 5), 16);
            const blue = parseInt(bgColor.slice(5, 7), 16);

            if (red * 0.299 + green * 0.587 + blue * 0.114 > 186) {
                // Black
                return "#000000";
            } else {
                // White
                return "#ffffff";
            }
        }
    }
};
</script>
