<template>
    <AppLayout>
        <!-- Events -->
        <section
            class="w-full px-5 py-8 mx-auto sm:py-10 md:py-12 max-w-7xl"
            v-if="event"
        >
            <h1
                id="events"
                class="font-atma text-center text-5xl font-extrabold leading-10 tracking-tight text-gray-900 dark:text-gray-100 md:text-center sm:leading-none md:text-6xl lg:text-7xl"
            >
                <span class="inline ">{{ event.title }}</span>
            </h1>
            <section class="text-center mb-5 md:mb-16">
                <p
                    class="mt-4 md:mt-8 text-sm md:text-xl lg:text-2xl font-medium dark:text-gray-300"
                >
                    Du
                    <span class="mx-1 text-wp-purple">{{
                        this.$dayjs(event.beginAt).format("YYYY-MM-DD à HH:MM")
                    }}</span>
                    au
                    <span class="mx-1 text-wp-gray dark:text-wp-white">{{
                        this.$dayjs(event.finishAt).format("YYYY-MM-DD à HH:MM")
                    }}</span>
                </p>
                <div
                    class="mt-4 flex flex-row flex-wrap justify-center space-x-4 text-sm md:text-xl"
                >
                    <div
                        class="bg-purple-500 flex items-center px-3 py-1.5 leading-none rounded-full font-medium uppercase text-white inline-block"
                    >
                        <span v-if="!event.hasCategories">
                            Sans catégorie
                        </span>
                        <span v-else>
                            <span
                                v-for="category in event.categories"
                                :key="category.id"
                            >
                                {{ category.title }}
                            </span>
                        </span>
                    </div>
                </div>
            </section>

            <article class="w-full">
                <img
                    loading="lazy"
                    class="w-full md:w-2/3 mx-auto object-cover overflow-hidden rounded-lg shadow-sm "
                    :src="
                        event.picture_attached &&
                        event.picture_attached !== null
                            ? event.picture_attached
                            : require('@/assets/images/image-not-found.png')
                    "
                />

                <div
                    class="trix-content trix-content-2 mt-2 text-gray-500 dark:text-gray-400 text-xl leading-8"
                >
                    {{ event.description }}
                </div>
            </article>
        </section>
    </AppLayout>
</template>

<script>
import AppLayout from "@/views/layouts/AppLayout.vue";
import axios from "axios";

export default {
    name: "Events",
    components: {
        AppLayout
    },
    data() {
        return {
            event: null
        };
    },
    beforeMount() {
        const eventId = this.$route.params.id;

        axios
            .get(`${process.env.VUE_APP_API_URL}/events/${eventId}`)
            .then(res => {
                this.event = res.data;
                this.event.categories = res.data.categories["hydra:member"];
            })
            .catch(err => {
                if (err.response) {
                    if (
                        err.response.status === 404 || // L'event n'existe pas
                        err.response.status === 401 || // Non connecté
                        err.response.status === 403 // Connecté mais pas autorisé
                    ) {
                        this.$router.push({ name: "NotFound" });
                    } else {
                        this.$router.push({ name: "InternalError" });
                    }
                } else {
                    this.$router.push({ name: "Home" });
                }
            });
    }
};
</script>
