<template>
	<AppLayout>
		<section
			class="w-full px-5 py-6 mx-auto sm:py-8 md:py-12 max-w-7xl"
			id="streaming"
		>
			<h1 class="text-5xl font-extrabold leading-10 tracking-tight text-left text-gray-900 dark:text-gray-100 md:text-center sm:leading-none md:text-6xl lg:text-7xl">
				<span class="inline font-atma">Streaming </span><span class="font-atma relative mt-2 text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 to-indigo-500 md:inline-block">Twitch</span>
			</h1>

			<article
				class="w-full flex justify-center mt-8"
				a=""
			>
				<!-- Add a placeholder for the Twitch embed -->
				<div
					id="twitch-embed"
					class="p-4 bg-gray-900 dark:bg-gray-600 rounded"
					v-show="isOnline"
				>
					<iframe
						src="https://embed.twitch.tv?allowfullscreen=true&autoplay=false&channel=WePonies&height=600&parent=shiozen-gekkou.fr&referrer=https%3A%2F%2Fshiozen-gekkou.fr%3A8000%2Fstreaming&width=1280"
						allowfullscreen=""
						scrolling="no"
						allow="autoplay; fullscreen"
						title="Twitch"
						sandbox="allow-modals allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox allow-storage-access-by-user-activation"
						width="1280"
						height="600"
						frameborder="0"
					></iframe>
				</div>
				<div v-show="!isOnline">Vous n'êtes pas connectés à internet</div>
			</article>
		</section>
	</AppLayout>
</template>
<!-- Load the Twitch embed JavaScript file -->
<script src="https://embed.twitch.tv/embed/v1.js"></script>

<!-- Create a Twitch.Embed object that will render within the "twitch-embed" element -->
<script type="text/javascript">
import AppLayout from "@/views/layouts/AppLayout.vue";

export default {
	name: "Streaming",
	components: {
		AppLayout,
	},
	computed: {
		isOnline() {
			return navigator.onLine;
		},
	},
	beforeMount() {
		const streamWindow = {
			get adaptedWidth() {
				const maxSize = 1280;
				return window.innerWidth > maxSize
					? maxSize
					: window.innerWidth - 32;
			},
		};
		if (navigator.onLine && window.Twitch !== undefined) {
			new Twitch.Embed("twitch-embed", {
				autoplay: false,
				width: streamWindow.adaptedWidth,
				height: 600,
				allowfullscreen: true,
				channel: "HollowKnight",
			});
		}
	},
};
</script>