<template>
	<AppLayout>
		<!-- What you see when you come-->
		<Header />

		<!-- About us -->
		<AboutUs />

		<!-- Find us -->
		<FindUs />

		<!-- Our team -->
		<OurTeam />

		<!-- Partners -->
		<Partners />

		<!-- Contact Us -->
		<ContactUs />

	</AppLayout>
</template>

<script>
// @ is an alias to /src
import AppLayout from "@/views/layouts/AppLayout.vue";
import Header from "./parts/Header.vue";
import AboutUs from "./parts/AboutUs.vue";
import FindUs from "./parts/FindUs.vue";
import OurTeam from "./parts/OurTeam.vue";
import Partners from "./parts/Partners.vue";
import ContactUs from "./parts/ContactUs.vue";

export default {
	name: "Home",
	components: {
		AppLayout,
		Header,
		AboutUs,
		FindUs,
		OurTeam,
		Partners,
		ContactUs,
	},
};
</script>
