<template>
    <div>
        <Header>
            <span class="md:space-x-4 space-y-4 md:space-y-0">
                <router-link
                    class="text-xl inline-flex items-center px-1 pt-1 pb-2 border-b-2 border-transparent  text-sm font-medium leading-5 text-gray-900 dark:text-white focus:outline-none focus:border-indigo-700 transition"
                    :class="{
                        'border-indigo-500 dark:border-gray-500':
                            $route.name === 'admin.userMessages.needCheck'
                    }"
                    :to="{ name: 'admin.userMessages.needCheck' }"
                >
                    Messages non traités
                </router-link>
                <router-link
                    class="text-xl inline-flex items-center px-1 pt-1 pb-2 border-b-2 border-transparent  text-sm font-medium leading-5 text-gray-900 dark:text-white focus:outline-none focus:border-indigo-700 transition"
                    :class="{
                        'border-indigo-500 dark:border-gray-500':
                            $route.name === 'admin.userMessages.checked'
                    }"
                    :to="{ name: 'admin.userMessages.checked' }"
                >
                    Messages traités
                </router-link>
            </span>
        </Header>

        <main class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div
                    class="bg-white dark:bg-gray-700 overflow-x-auto shadow-xl sm:rounded-lg px-3 py-4"
                >
                    <section
                        class="mt-4 grid md:grid-cols-2
                    lg:grid-cols-3 gap-x-4 gap-y-6  mx-4"
                    >
                        <Card
                            v-for="message in userMessages"
                            :key="message.id"
                            class="border border-indogo-100  rounded"
                            :title="message.email"
                            :description="message.body | limit(120, '...')"
                        >
                            <div class="static">
                                <hr />
                                <div class="flex text-xs">
                                    <button
                                        @click="markAsChecked(message.id)"
                                        class="text-center w-1/2 p-4 cursor-pointer text-white bg-yellow-500 hover:bg-yellow-600 hover:shadow-lg transition duration-200 ease-in-out border border-yellow-400 transition duration-200 ease-in-out dark:bg-yellow-700 dark:hover:bg-yellow-800"
                                    >
                                        <p>
                                            <span class="font-semibold">
                                                Marquer comme non traité
                                            </span>
                                        </p>
                                    </button>
                                    <div class="border border-indigo-100"></div>
                                    <button
                                        class="text-center w-1/2 p-4 hover:bg-gray-100 cursor-pointer transition duration-200 ease-in-out dark:text-white dark:hover:bg-gray-800"
                                        @click="
                                            copyToClipboard(message.email);
                                            showAnimation(message.id);
                                        "
                                    >
                                        <p>
                                            <span class="font-semibold">
                                                Copier l'email
                                            </span>
                                        </p>
                                    </button>
                                </div>

                                <transition name="fade">
                                    <aside
                                        class="absolute right-2 bottom-5"
                                        v-if="
                                            copyAnimation.container.includes(
                                                message.id
                                            )
                                        "
                                    >
                                        <span
                                            class="bg-gray-200 border border-gray-300 py-2 px-4 rounded-full select-none dark:text-white dark:border-indigo-900 dark:bg-indigo-800"
                                        >
                                            Copié !
                                        </span>
                                    </aside>
                                </transition>

                                <aside
                                    class="absolute top-3 right-3 cursor-pointer"
                                >
                                    <div
                                        class="bg-gray-300 dark:bg-gray-200 p-2 hover:ring ring-red-400 dark:ring-red-500 rounded-full transition duration-100 ease-to-out"
                                        @click="deleteMessage(message.id)"
                                    >
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            class="text-red-600 dark:text-red-500 w-4 h-4"
                                            viewBox="0 0 20 20"
                                            fill="currentColor"
                                        >
                                            <path
                                                fill-rule="evenodd"
                                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                                clip-rule="evenodd"
                                            ></path>
                                        </svg>
                                    </div>
                                </aside>
                            </div>
                        </Card>
                        <!-- There is no message -->
                        <div v-if="userMessages.length == 0" class="dark:text-white">
                            Il n'y a aucun message
                        </div>
                    </section>

                    <footer class="mt-4 px-4">
                        <div v-if="hasPagination">
                            <Pagination
                                :currentPage="page"
                                :itemPerPage="itemPerPage"
                                :totalItems="totalItems"
                                @gotoPage="page = $event"
                            />
                        </div>
                    </footer>
                </div>
            </div>
        </main>
    </div>
</template>

<script>
import Header from "@/components/admin/Header.vue";
import Card from "../../../components/admin/Card.vue";
import axios from "axios";
import Pagination from "@/components/admin/Pagination";

export default {
    name: "NeedCheck",
    components: {
        Header,
        Card,
        Pagination
    },
    beforeMount() {
        this.syncMessages();
    },
    data() {
        return {
            userMessages: [],
            page: 1,
            itemPerPage: 6,
            totalItems: 0,
            copyAnimation: {
                container: [],
                time: 2000 // Ms
            }
        };
    },
    filters: {
        /**
         * Returns the first `limit` characters from the given `string`.
         *
         * @param {String} string
         * @param {Number} limit
         *
         * @returns {String}
         */
        limit: function(value, limit, end = "...") {
            if (value.length < limit) {
                return value;
            }
            return value.substring(0, limit) + end;
        }
    },
    methods: {
        syncMessages() {
            // Fetch events by a unique request construct by the user choices
            axios
                .get(
                    `${process.env.VUE_APP_API_URL}/contact_messages?isChecked=true&itemsPerPage=${this.itemPerPage}
                    &page=${this.page}`
                )
                .then(response => {
                    this.userMessages = response.data["hydra:member"];
                    this.totalItems = response.data["hydra:totalItems"];
                });
        },
        markAsChecked(id) {
            axios
                .patch(
                    `${process.env.VUE_APP_API_URL}/contact_messages/${id}`,
                    {
                        isChecked: true
                    }
                )
                .then(() => {
                    this.syncMessages();

                    // Show a flash message
                    this.flashMessage.success({
                        message: "Message marqué comme traité",
                        type: "success"
                    });
                });
        },
        deleteMessage(messageId) {
            if (confirm("Voulez-vous vraiment supprimer ce message ?")) {
                // Delete the resource
                axios
                    .delete(
                        `${process.env.VUE_APP_API_URL}/contact_messages/${messageId}`
                    )
                    .then(() => {
                        this.syncMessages();

                        // Show a flash message
                        this.flashMessage.success({
                            message: "Message supprimé",
                            type: "success"
                        });
                    });
            }
        },
        /**
         * Show an animation for a specific current shown element
         *
         * @param {Number} id
         */
        showAnimation(id) {
            const container = this.copyAnimation.container;

            container.push(id);
            // After the animation is complete, set the show property to false
            setTimeout(() => {
                container.splice(container.indexOf(id), 1);
            }, this.copyAnimation.time);
        }
    },
    computed: {
        hasPagination() {
            return this.totalItems > this.itemPerPage;
        }
    },
    watch: {
        page: function() {
            this.syncMessages();
        }
    }
};
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
</style>
