<template>
    <div class="fixed inset-0 overflow-y-auto px-4 py-6 sm:px-0">
        <div
            class="fixed inset-0 transform transition-all "
            v-on:click="closeModal"
        >
            <div
                class="absolute inset-0 bg-gray-500 dark:bg-gray-900 opacity-75"
            ></div>
        </div>

        <div
            class="mb-6 bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:w-full sm:max-w-2xl sm:mx-auto z-50"
        >
            <div class="px-6 py-4 dark:bg-gray-700">
                <div class="text-lg dark:text-white">
                    <slot name="title"></slot>
                </div>

                <div class="mt-4 dark:text-gray-200">
                    <slot></slot>
                </div>
            </div>

            <div class="px-6 py-4 bg-gray-100 dark:bg-gray-600 text-right">
                <button
                    type="button"
                    class="inline-flex items-center px-4 py-2 bg-white border border-gray-300 rounded-md font-semibold text-xs text-gray-700 uppercase tracking-widest shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:ring focus:ring-blue-200 active:text-gray-800 active:bg-gray-50 disabled:opacity-25 transition dark:bg-gray-700 dark:hover:bg-gray-900 dark:hover:shadow-lg dark:text-white"
                    @click="closeModal"
                >
                    <slot name="cancelText">Cancel</slot>
                </button>

                <button
                    type="submit"
                    class="inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition  dark:hover:shadow-lg ml-2 "
                    :class="
                        isWarning
                            ? 'bg-red-500 hover:bg-red-600 dark:bg-red-600 dark:hover:bg-red-700'
                            : 'bg-blue-500 hover:bg-blue-600 dark:bg-blue-500 dark:hover:bg-blue-600'
                    "
                    @click="validateModal"
                >
                    <slot name="validateText">Validate</slot>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "BaseModal",
    methods: {
        closeModal() {
            this.$emit("close");
        },
        validateModal() {
            this.$emit("validate");
        }
    },
    props: {
        /**
         * @props {Boolean} isWarning Toggle the normal and danger mode for the modale
         */
        isWarning: {
            type: Boolean,
            default: false
        }
    }
};
</script>
