<template>
    <BaseModal
        @close="$emit('close')"
        @validate="validateMethod"
        :isWarning="false"
    >
        <template #title>
            Titre
        </template>
        Contenu

        <template #cancelText>Annuler</template>
        <template #validateText>Valider</template>
    </BaseModal>
</template>

<script>
import BaseModal from "@/components/admin/modals/BaseModal";

export default {
    name: "ExampleCustomModal",
    components: {
        BaseModal
    },
    methods: {
        validateMethod() {
            // TODO
            console.log("Has validated !");

            // You want to close the modal
            this.$emit("close");
            // And maybe you want to do something else and bind value
            this.$emit("hasSuccessfullyDoneTheTask");
        }
    }
};
</script>
