<template>
    <div>
        <Header>
            <div>Création d'un compte utilisateur</div>
        </Header>
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-32">
                <div
                    class="bg-white dark:bg-gray-800 overflow-x-auto shadow-xl sm:rounded-lg px-4 py-6"
                >
                    <form @submit.prevent="submit" class="space-y-4">
                        <div class="grid grid-cols-3 gap-6 mt-4 sm:grid-cols-6">
                            <div class="col-span-3">
                                <label
                                    class="text-gray-700 dark:text-gray-200"
                                    for="fullname"
                                    >Nom complet</label
                                >
                                <input
                                    id="fullname"
                                    type="text"
                                    v-model="user.fullname"
                                    class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"
                                    placeholder="Magali Taran"
                                />
                                <div
                                    v-if="errors.fullname"
                                    class="mt-2 text-sm text-red-500"
                                >
                                    {{ errors.fullname.join(" ") }}
                                </div>
                            </div>

                            <div class="col-span-3">
                                <label
                                    class="text-gray-700 dark:text-gray-200"
                                    for="pseudo"
                                    >Pseudo</label
                                >
                                <input
                                    id="pseudo"
                                    type="text"
                                    v-model="user.pseudo"
                                    class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"
                                    placeholder="Blue Bird"
                                />
                                <div
                                    v-if="errors.pseudo"
                                    class="mt-2 text-sm text-red-500"
                                >
                                    {{ errors.pseudo.join(" ") }}
                                </div>
                            </div>

                            <div class="col-span-4">
                                <label
                                    class="text-gray-700 dark:text-gray-200"
                                    for="email"
                                    >Email</label
                                >
                                <input
                                    id="email"
                                    type="email"
                                    v-model="user.email"
                                    class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"
                                    placeholder="prenom.nom@example.com"
                                />
                                <div
                                    v-if="errors.email"
                                    class="mt-2 text-sm text-red-500"
                                >
                                    {{ errors.email.join(" ") }}
                                </div>
                            </div>

                            <div class="col-span-3">
                                <label
                                    class="text-gray-700 dark:text-gray-200"
                                    for="password"
                                    >Mot de passe</label
                                >
                                <input
                                    id="password"
                                    type="password"
                                    v-model="user.password"
                                    class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"
                                    placeholder="******"
                                />
                                <div
                                    v-if="errors.password"
                                    class="mt-2 text-sm text-red-500"
                                >
                                    {{ errors.password.join(" ") }}
                                </div>
                            </div>
                        </div>

                        <div class="flex justify-end mt-6 space-x-4">
                            <router-link
                                :to="{ name: 'admin.users.index' }"
                                class="inline-flex items-center px-4 py-2 bg-white border border-gray-300 rounded-md font-semibold text-xs text-gray-700 uppercase tracking-widest shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:ring focus:ring-blue-200 active:text-gray-800 active:bg-gray-50 disabled:opacity-25 transition dark:bg-gray-700 dark:hover:bg-gray-900 dark:hover:shadow-lg dark:text-white"
                            >
                                Retour à la liste
                            </router-link>
                            <button
                                type="submit"
                                class="inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition dark:bg-blue-500 dark:hover:bg-blue-600 dark:hover:shadow-lg focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-blue-500 hover:bg-blue-600 hover:shadow-lg"
                            >
                                Créer
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Header from "@/components/admin/Header.vue";
import axios from "axios";

export default {
    name: "UsersListing",
    components: {
        Header
    },
    data() {
        return {
            user: {
                fullname: "",
                email: "",
                pseudo: "",
                password: "",
                roles: []
            },
            errors: {
                fullname: [],
                email: [],
                pseudo: [],
                password: [],
                roles: []
            },
            initialErrors: Object.assign({}, this.errors)
        };
    },
    methods: {
        submit() {
            axios
                .post(`${process.env.VUE_APP_API_URL}/users`, this.user)
                .then(() => {
                    this.flashMessage.success({
                        title: "Ajout réussi",
                        message: "L'utilisateur a été correctement ajouté."
                    });

                    this.$router.push({ name: "admin.users.index" });
                })
                .catch(error => {
                    this.resetErrors();

                    if (error.response.status === 400) {
                        error.response.data.violations.forEach(error => {
                            // If the error field is not referenced, create an array of it
                            if (this.errors[error.propertyPath] === undefined) {
                                this.errors[error.propertyPath] = [];
                            }
                            // Then add the error message
                            this.errors[error.propertyPath].push(error.message);
                        });
                    }

                    this.flashMessage.error({
                        title: "Erreur d'ajout",
                        message: "L'utilisateur n'a pas pu être ajouté."
                    });
                });
        },
        resetErrors() {
            this.errors = Object.assign({}, this.initialErrors);
        }
    }
};
</script>
