<template>
    <div>
        <Header>
            <div>Gestion des utilisateurs</div>
        </Header>
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div
                    class="bg-white dark:bg-gray-700 overflow-x-auto shadow-xl sm:rounded-lg px-3 py-4"
                >
                    <header class="px-4 mt-5 mb-4">
                        <main
                            class="flex flex-col md:flex-row items-center space-x-0 md:space-x-4 space-y-4 md:space-y-0 justify-around"
                        >
                            <div
                                class="lg:w-1/2 xl:w-1/3 border-2 dark:border-gray-500 py-1 px-3 flex justify-between items-center rounde-md rounded-md"
                            >
                                <input
                                    class="flex-grow outline-none dark:bg-gray-700 text-gray-600 focus:text-blue-600 border-0 focus:ring-0"
                                    type="text"
                                    placeholder="Rechercher un utilisateur"
                                />
                                <div>
                                    <SvgSearch
                                        class="h-6 w-6 text-gray-400 hover:text-blue-400 transition duration-100 cursor-pointer"
                                    />
                                </div>
                            </div>
                            <div>
                                <router-link
                                    :to="{ name: 'admin.users.create' }"
                                    class="focus:outline-none text-white text-sm py-4 px-6 rounded-md bg-green-500 hover:bg-green-600 hover:shadow-lg flex items-center transition duration-200 ease-in-out transform hover:scale-110"
                                >
                                    <SvgPlus class="w-4 h-4 mr-2" />
                                    Ajouter un utilisateur
                                </router-link>
                            </div>
                        </main>
                    </header>

                    <table
                        class="min-w-full overflow-x-scroll divide-y divide-gray-200 dark:divide-gray-500"
                    >
                        <thead class="bg-gray-50 dark:bg-gray-800">
                            <tr>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 dark:text-gray-200 uppercase"
                                >
                                    Nom
                                </th>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 dark:text-gray-200 uppercase"
                                >
                                    Statut
                                </th>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 dark:text-gray-200 uppercase"
                                >
                                    Rôle
                                </th>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 dark:text-gray-200 uppercase"
                                >
                                    Membre depuis le
                                </th>
                                <th scope="col" class="relative px-6 py-3">
                                    <span class="sr-only">Edit</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody
                            class="bg-white divide-y divide-gray-200 dark:divide-gray-600"
                        >
                            <tr
                                class="transition-all dark:bg-gray-800 hover:bg-gray-100 dark:hover:bg-gray-600 hover:shadow-lg"
                                v-for="user in users"
                                :key="user.id"
                            >
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="flex items-center">
                                        <div class="ml-4">
                                            <div
                                                class="text-sm font-medium text-gray-900 dark:text-gray-400"
                                            >
                                                {{ user.fullname }}
                                            </div>
                                            <div
                                                class="text-sm text-gray-500 dark:text-gray-200"
                                            >
                                                {{ user.email }}
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <span
                                        class="inline-flex px-2 text-xs font-semibold leading-5 text-green-800 dark:text-green-900 bg-green-100 dark:bg-green-500 rounded-full"
                                    >
                                        Compte activé
                                    </span>
                                </td>
                                <td
                                    class="px-6 py-4 text-sm text-gray-500 dark:text-gray-200 whitespace-nowrap"
                                >
                                    <div v-for="role in user.roles" :key="role">
                                        {{ role.split("_")[1] }}
                                    </div>
                                </td>
                                <td
                                    class="px-6 py-4 text-sm text-gray-900 dark:text-gray-400 whitespace-nowrap"
                                >
                                    <div>{{ $dayjs(user.created_at).format("Le YYYY-MM-DD à HH:MM") }}</div>
                                </td>
                                <td
                                    class="px-6 py-4 text-sm font-medium whitespace-nowrap space-x-4 flex -flex-row justify-center"
                                >
                                    <router-link
                                        :to="{
                                            name: 'admin.users.edit',
                                            params: { id: user.id }
                                        }"
                                        class="focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-blue-500 hover:bg-blue-600 hover:shadow-lg transition duration-200 ease-in-out transform hover:scale-110"
                                    >
                                        Modifier
                                    </router-link>

                                    <button
                                        type="button"
                                        @click.prevent="deleteUser(user)"
                                        class="focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-red-500 hover:bg-red-600 hover:shadow-lg flex items-center transition duration-200 ease-in-out transform hover:scale-110"
                                    >
                                        <SvgWarning class="w-4 h-4 mr-2" />
                                        Supprimer
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <footer class="mt-4 px-4">
                        <div v-if="hasPagination">
                            <Pagination
                                :currentPage="page"
                                :itemPerPage="itemPerPage"
                                :totalItems="totalItems"
                                @gotoPage="page = $event"
                            />
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import SvgSearch from "@/assets/icon/search.svg";
import SvgPlus from "@/assets/icon/plus.svg";
import SvgWarning from "@/assets/icon/warning.svg";
import Header from "@/components/admin/Header.vue";
import Pagination from "@/components/admin/Pagination";
import axios from "axios";

export default {
    name: "UsersListing",
    components: {
        SvgSearch,
        SvgPlus,
        SvgWarning,
        Header,
        Pagination
    },
    data() {
        return {
            users: [],
            page: 1,
            itemPerPage: 4,
            totalItems: 0
        };
    },
    mounted() {
        this.syncUsers();
    },
    methods: {
        syncUsers() {
            axios
                .get(
                    `${process.env.VUE_APP_API_URL}/users?
				&itemsPerPage=${this.itemPerPage}
				&page=${this.page}`
                )
                .then(response => {
                    this.users = response.data["hydra:member"];
                    this.totalItems = response.data["hydra:totalItems"];
                })
                .catch(() => {
                    this.flashMessage.error({
                        title: "Erreur",
                        message: "Une erreur est survenue"
                    });
                });
        },
        deleteUser(user) {
            if (
                !window.confirm(
                    "Etes-vous sûr de vouloir supprimer cet utilisateur ? "
                )
            ) {
                return;
            }

            axios
                .delete(`${process.env.VUE_APP_API_URL}/users/${user.id}`)
                .then(() => {
                    this.users = this.users.filter(u => {
                        return u.id !== user.id;
                    });

                    this.flashMessage.success({
                        title: "Suppression réussie",
                        message: "L'utilisateur a été supprimé"
                    });

                    this.page = 1;
                })
                .catch(() => {
                    this.flashMessage.error({
                        title: "Erreur",
                        message: "Une erreur est survenue"
                    });
                });
        }
    },
    computed: {
        hasPagination() {
            return this.totalItems > this.itemPerPage;
        }
    },
    watch: {
        page: function() {
            this.syncUsers();
        }
    }
};
</script>
