<template>
<AppLayout>
    <div class="max-w-6xl mx-auto px-4 sm:-px-10 py-12">
        <div class="mt-10 sm:mt-0">
            <div class="md:grid md:grid-cols-3 md:gap-6">
            <div class="md:col-span-1">
                <div class="px-4 sm:px-0">
                <h3 class="text-lg font-medium leading-6 text-gray-100">Informations personnelles</h3>
                </div>
            </div>
            <div class="mt-5 md:mt-0 md:col-span-2">
                <form @submit.prevent="updateProfile">
                    <div class="shadow overflow-hidden sm:rounded-md">
                        <div class="px-4 py-5 bg-white dark:bg-gray-800 sm:p-6">
                        <div class="grid grid-cols-6 gap-6">
                            <div class="col-span-6 sm:col-span-3">
                                <label for="fullname" class="block text-sm font-medium text-gray-700 dark:text-gray-200">Nom complet</label>
                                <input type="text" v-model="user.fullname" name="fullname" id="fullname" autocomplete="fullname" class="mt-1 dark:bg-gray-700 dark:text-gray-300 focus:border-gray-900 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                <div
                                    v-if="errors.fullname"
                                    class="mt-2 text-sm text-red-500"
                                >
                                    {{ errors.fullname.join(" ") }}
                                </div>
                            </div>

                            <div class="col-span-6 sm:col-span-3">
                                <label for="pseudo" class="block text-sm font-medium text-gray-700 dark:text-gray-200">Pseudo</label>
                                <input type="text" v-model="user.pseudo" name="pseudo" id="pseudo" autocomplete="pseudo" class="mt-1 dark:bg-gray-700 dark:text-gray-300 focus:border-gray-900 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                <div
                                    v-if="errors.pseudo"
                                    class="mt-2 text-sm text-red-500"
                                >
                                    {{ errors.pseudo.join(" ") }}
                                </div>
                            </div>

                            <div class="col-span-6 sm:col-span-4">
                                <label for="email" class="block text-sm font-medium text-gray-700 dark:text-gray-200">Adresse email</label>
                                <input type="text" v-model="user.email" name="email" id="email" autocomplete="email" class="mt-1 dark:bg-gray-700 dark:text-gray-300 focus:border-gray-900 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                <div
                                    v-if="errors.email"
                                    class="mt-2 text-sm text-red-500"
                                >
                                    {{ errors.email.join(" ") }}
                                </div>
                            </div>

                            <div class="col-span-6">
                                <label for="username" class="block text-sm font-medium text-gray-700 dark:text-gray-200">Username</label>
                                <input type="text" v-model="user.username" name="username" id="username" disabled class="mt-1 dark:bg-gray-700 dark:text-gray-300 focus:border-gray-900 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md cursor-not-allowed">
                            </div>
                        </div>
                        </div>
                        <div class="px-4 py-3 bg-gray-50 dark:bg-gray-700 text-right sm:px-6">
                            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-500 focus:outline-none">
                                Enregistrer
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            </div>
        </div>

        <div class="mt-10 sm:mt-12">
            <div class="md:grid md:grid-cols-3 md:gap-6">
            <div class="md:col-span-1">
                <div class="px-4 sm:px-0">
                <h3 class="text-lg font-medium leading-6 text-gray-100">Mot de passe</h3>
                </div>
            </div>
            <div class="mt-5 md:mt-0 md:col-span-2">
                <form @submit.prevent="updatePassword">
                    <div class="shadow overflow-hidden sm:rounded-md">
                        <div class="px-4 py-5 bg-white dark:bg-gray-800 sm:p-6">
                            <div class="grid grid-cols-6 gap-6">
                                <div class="col-span-6 sm:col-span-4">
                                    <label for="password" class="block text-sm font-medium text-gray-700 dark:text-gray-200">Nouveau mot de passe</label>
                                    <input type="password" name="password" v-model="password" id="password" class="mt-1 dark:bg-gray-700 dark:text-gray-300 focus:border-gray-900 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                    <div
                                        v-if="errors.password"
                                        class="mt-2 text-sm text-red-500"
                                    >
                                        {{ errors.password.join(" ") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="px-4 py-3 bg-gray-50 dark:bg-gray-700 text-right sm:px-6">
                            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-500 focus:outline-none">
                                Enregistrer
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
    </AppLayout>
</template>
<script>
import axios from 'axios';

import AppLayout from "@/views/layouts/AppLayout.vue";
export default {
    name: "Profile",
    components: {
        AppLayout
    },
    data() {
        return {
            user: {},
            password: '',
            errors: {
                fullname: [],
                email: [],
                pseudo: [],
                password: [],
                roles: []
            },
            initialErrors: Object.assign({}, this.errors)
        }
    },
    mounted() {
        axios.get(`${process.env.VUE_APP_API_URL}/users/me`)
            .then((response) => this.user = response.data);
    },
    methods: {
        updateProfile() {
            let data = {
                fullname: this.user.fullname,
                pseudo: this.user.pseudo,
                email: this.user.email
            };
            axios.patch(`${process.env.VUE_APP_API_URL}/users/${this.user.id}`, data)
                .then(() => {
                    this.flashMessage.success({
                        title: "Mise à jour",
                        message: "Votre profil à bien été mis à jour."
                    });
                })
                .catch((error) => {
                    this.resetErrors();

                    if (error.response.status === 400) {
                        error.response.data.violations.forEach(error => {
                            // If the error field is not referenced, create an array of it
                            if (this.errors[error.propertyPath] === undefined) {
                                this.errors[error.propertyPath] = [];
                            }
                            // Then add the error message
                            this.errors[error.propertyPath].push(error.message);
                        });
                    }

                    this.flashMessage.error({
                        title: "Erreur de mise à jour",
                        message: "Vous n'avez pas pu modifier votre profil."
                    });
                });
        },
        updatePassword() {
            console.log('Password updated ...');
            axios.patch(`${process.env.VUE_APP_API_URL}/users/${this.user.id}`, {
                password: this.password
            })
            .then(() => {
                    this.flashMessage.success({
                        title: "Mot de passe mis à jour",
                        message: "Votre mot de passe à bien été mis à jour."
                    });
                    this.password = '';
                })
                .catch((error) => {
                    this.resetErrors();

                    if (error.response.status === 400) {
                        error.response.data.violations.forEach(error => {
                            // If the error field is not referenced, create an array of it
                            if (this.errors[error.propertyPath] === undefined) {
                                this.errors[error.propertyPath] = [];
                            }
                            // Then add the error message
                            this.errors[error.propertyPath].push(error.message);
                        });
                    }

                    this.flashMessage.error({
                        title: "Erreur de mise à jour",
                        message: "Votre mot de passe n'a pas été mis à jour."
                    });
                });
        },
        resetErrors() {
            this.errors = Object.assign({}, this.initialErrors);
        }
    },
    watch: {
        'user.email': function(newValue) {
            this.user.username = newValue;
        }
    }
}
</script>
