::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  display: none;
}

.custom-calendar.vc-container {
  --day-border: 1px solid #b8c2cc;
  --day-border-highlight: 1px solid #b8c2cc;
  --day-width: 90px;
  --day-height: 90px;
  --weekday-bg: #f8fafc;
  --weekday-border: 1px solid #eaeaea;
  --bgColor: #eff8ff;
  --dayColor: #000000;
  border-radius: 0;
  width: 100%;
}
.custom-calendar.vc-container.vc-is-dark {
  --day-border: 1px solid #5e5e5e !important;
  --day-border-highlight: 1px solid #b8c2cc !important;
  --day-width: 90px !important;
  --day-height: 90px !important;
  --weekday-bg: #2b3e50 !important;
  --weekday-border: 1px solid #eaeaea !important;
  --bgColor: #222222;
  --dayColor: #ffffff;
}
.custom-calendar.vc-container .vc-header {
  background-color: var(--bgColor);
  padding: 10px 0;
}
.custom-calendar.vc-container .vc-weeks {
  padding: 0;
}
.custom-calendar.vc-container .vc-weekday {
  background-color: var(--weekday-bg);
  border-bottom: var(--weekday-border);
  border-top: var(--weekday-border);
  padding: 5px 0;
}
.custom-calendar.vc-container .vc-day {
  padding: 0 5px 3px 5px;
  text-align: left;
  height: var(--day-height);
  min-width: var(--day-width);
  background-color: var(--bgColor);
}
.custom-calendar.vc-container .vc-day.weekday-1, .custom-calendar.vc-container .vc-day.weekday-7 {
  background-color: var(--bgColor);
}
.custom-calendar.vc-container .vc-day:not(.on-bottom) {
  border-bottom: var(--day-border);
}
.custom-calendar.vc-container .vc-day:not(.on-bottom).weekday-1 {
  border-bottom: var(--day-border-highlight);
}
.custom-calendar.vc-container .vc-day:not(.on-right) {
  border-right: var(--day-border);
}
.custom-calendar.vc-container .vc-day-dots {
  margin-bottom: 5px;
}
.custom-calendar.vc-container .day-label {
  color: var(--dayColor);
}
