<template>
    <section>
        <Header>
            <h1>Edite un événement</h1>
        </Header>
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 p-4 px-4 md:p-8 mb-6">
            <article
                class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3"
            >
                <header class="text-gray-600 dark:text-gray-200">
                    <p class="font-medium text-lg">Pannel d'édition</p>
                    <p>C'est ici que vous pourrez modifier cet événement.</p>
                </header>

                <main
                    class="lg:col-span-2 bg-white dark:bg-gray-800 dark:text-white rounded shadow-lg p-4"
                >
                    <form v-on:submit.prevent="editEvent" class="space-y-4">
                        <section
                            class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2"
                        >
                            <article>
                                <label
                                    class="text-gray-700 dark:text-gray-200"
                                    for="title"
                                    >Titre</label
                                >
                                <input
                                    id="title"
                                    type="text"
                                    v-model="event.title"
                                    class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"
                                />
                                <div
                                    v-if="errors.title"
                                    class="mt-2 text-sm text-red-500"
                                >
                                    {{ errors.title.join(", ") }}
                                </div>
                            </article>

                            <article>
                                <label class="text-gray-700 dark:text-gray-200"
                                    >Calendrier</label
                                >
                                <DatePicker
                                    :range="range"
                                    @input="updateDateRange"
                                    class="z-20"
                                />
                                <div
                                    v-if="errors.beginAt"
                                    class="mt-2 text-sm text-red-500"
                                >
                                    {{ errors.beginAt.join(", ") }}
                                </div>
                                <div
                                    v-if="errors.finishAt"
                                    class="mt-2 text-sm text-red-500"
                                >
                                    {{ errors.finishAt.join(", ") }}
                                </div>
                            </article>
                        </section>

                        <section>
                            <label
                                class="text-gray-700 dark:text-gray-200"
                                for="description"
                                >Description</label
                            >
                            <textarea
                                class="w-full bg-gray-700 rounded-xl dark:text-gray-200 mt-2"
                                rows="4"
                                v-model="event.description"
                            ></textarea>
                            <div
                                v-if="errors.description"
                                class="mt-2 text-sm text-red-500"
                            >
                                {{ errors.description.join(", ") }}
                            </div>
                        </section>

                        <section
                            class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2"
                        >
                            <!-- <article>
                    <div>
                        <label
                            class="text-gray-700 dark:text-gray-200"
                            for="picture_attached"
                            >Image à rattacher</label
                        >
                        <input
                            class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm dark:border-gray-500 dark:bg-gray-600 dark:text-white block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"
                            id="picture_attached"
                            type="file"
                            wire:model="picture_attached"
                        />
                        <div>
                            Envoi en cours...
                        </div>
                    </div>
                </article> -->

                            <article class="flex flex-col">
                                <div class="mt-4">
                                    <label
                                        class="inline-flex items-center mt-3"
                                    >
                                        <input
                                            type="checkbox"
                                            class="form-checkbox h-5 w-5 text-blue-600 rounded"
                                            v-model="event.published"
                                        /><span
                                            class="ml-2 text-gray-700 dark:text-gray-200"
                                        >
                                            Publié ?</span
                                        >
                                    </label>
                                    <div
                                        v-if="errors.published"
                                        class="mt-2 text-sm text-red-500"
                                    >
                                        {{ errors.published.join(", ") }}
                                    </div>
                                </div>
                            </article>
                        </section>

                        <section class="flex justify-end mt-6 space-x-4">
                            <router-link
                                :to="{
                                    name: 'admin.events.index'
                                }"
                                class="inline-flex items-center px-4 py-2 bg-white border border-gray-300 rounded-md font-semibold text-xs text-gray-700 uppercase tracking-widest shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:ring focus:ring-blue-200 active:text-gray-800 active:bg-gray-50 disabled:opacity-25 transition dark:bg-gray-700 dark:hover:bg-gray-900 dark:hover:shadow-lg dark:text-white"
                            >
                                <BackSvg />
                                Retour à la liste
                            </router-link>

                            <router-link
                                :to="{
                                    name: 'events.show',
                                    params: {
                                        id: event.id
                                    }
                                }"
                                class="focus:outline-none text-blue-600 text-sm py-2.5 px-5 rounded-md border border-blue-600 hover:bg-blue-50 flex items-center dark:hover:bg-blue-800 dark:text-blue-400 dark:border-blue-400"
                            >
                                <EyeSvg class="w-4 h-4 w-4 h-4 mr-2" />
                                Voir la page
                            </router-link>

                            <button
                                type="submit"
                                class="inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition dark:bg-blue-500 dark:hover:bg-blue-600 dark:hover:shadow-lg focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-blue-500 hover:bg-blue-600 hover:shadow-lg"
                            >
                                Mettre à jour
                            </button>
                        </section>
                    </form>
                </main>
            </article>

            <div class="hidden sm:block">
                <div class="py-8">
                    <div class="border-t border-gray-200"></div>
                </div>
            </div>

            <article
                class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3"
            >
                <header class="text-gray-600 dark:text-gray-200">
                    <p class="font-medium text-lg">Supprimer cet événement</p>
                    <p>Cette action est irréversible.</p>
                </header>

                <main
                    class="lg:col-span-2 bg-white dark:bg-gray-800 dark:text-white rounded shadow-lg p-4"
                >
                    <div>
                        <div
                            class="max-w-xl text-sm text-gray-600 dark:text-gray-200"
                        >
                            Une fois que cet événement est supprimé, toutes ses
                            données et ressources associés seront supprimés.
                            Avant de supprimer cet événement, veuillez
                            télécharger toute donnée ou information que vous
                            souhaiteriez conserver.
                        </div>

                        <button
                            type="button"
                            @click="deleteEvent"
                            class="mt-4 focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-red-500 hover:bg-red-600 hover:shadow-lg flex items-center"
                        >
                            <SvgWarning class="w-4 h-4 mr-2" />
                            Supprime cet événement
                        </button>
                    </div>
                </main>
            </article>
        </div>
    </section>
</template>

<script>
import Header from "@/components/admin/Header.vue";
import BackSvg from "@/assets/icon/back.svg";
import DatePicker from "@/components/admin/DatePicker.vue";
import EyeSvg from "@/assets/icon/eye.svg";
import SvgWarning from "@/assets/icon/warning.svg";
import axios from "axios";

export default {
    name: "Edit",
    components: {
        Header,
        BackSvg,
        DatePicker,
        EyeSvg,
        SvgWarning
    },
    data() {
        return {
            event: {
                title: "",
                description: "",
                picture_attached: null,
                published: false
            },
            // Need to be initialized to be used by v-calendar
            // Will symbolize the dates of the event
            range: null,
            errors: {
                title: [],
                description: [],
                beginAt: [],
                finishAt: [],
                picture_attached: []
            },
            initialErrors: Object.assign({}, this.errors)
        };
    },
    beforeRouteEnter(to, from, next) {
        // Execute the request before the route is created
        axios
            .get(`${process.env.VUE_APP_API_URL}/events/${to.params.id}`)
            .then(response => {
                next(vm => {
                    // Set the vue-model data from the ajax response
                    vm.event = response.data;
                    vm.range = {
                        start: new Date(response.data.beginAt),
                        end: new Date(response.data.finishAt)
                    };
                });
            })
            .catch(error => {
                next(vm => {
                    // If the event does not exists, send a 404 error
                    if (error.response.status === 404) {
                        vm.$router.push({
                            name: "admin.events.index"
                        });
                    }
                });
            });
    },
    methods: {
        editEvent() {
            axios
                .patch(
                    `${process.env.VUE_APP_API_URL}/events/${this.$route.params.id}`,
                    {
                        title: this.event.title,
                        description: this.event.description,
                        published: this.event.published,
                        beginAt: this.range.start.toISOString(),
                        finishAt: this.range.end.toISOString()
                    }
                )
                .then(() => {
                    this.flashMessage.success({
                        title: "Mise à jour réussi",
                        message: "L'événement a bien été mis à jour."
                    });
                })
                .catch(err => {
                    if (err.response && err.response.status === 400) {
                        // Reset the error messages
                        this.errors = Object.assign({}, this.initialErrors);

                        // Store each user errors in the error object
                        err.response.data["hydra:description"]
                            .split("\n")
                            .forEach(error => {
                                const [key, value] = error.split(":");
                                this.errors[key] = value.split(",");
                            });
                    }
                });
        },
        updateDateRange(range) {
            this.range = range;
        },
        deleteEvent() {
            if (confirm("Voulez-vous vraiment supprimer cet événement ?")) {
                axios
                    .delete(
                        `${process.env.VUE_APP_API_URL}/events/${this.$route.params.id}`
                    )
                    .then(() => {
                        this.flashMessage.success({
                            title: "Supression réussi",
                            message: "L'événement a bien été supprimé."
                        });
                        this.$router.push({ name: "admin.events.index" });
                    })
                    .catch(err => {
                        this.flashMessage.error({
                            title: "Erreur de supression",
                            message: "L'événement n'a pas pu être suprimé."
                        });
                        console.error(err);
                    });
            }
        }
    }
};
</script>
