<template>
    <div>
        <Header>
            <h1>Gestion des événements</h1>
        </Header>

        <main class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div
                    class="bg-white dark:bg-gray-700 overflow-x-auto shadow-xl sm:rounded-lg px-3 py-4"
                >
                    <header class="px-4 mt-5 mb-8">
                        <main
                            class="flex flex-col md:flex-row items-center space-x-0 md:space-x-4 space-y-4 md:space-y-0 justify-around"
                        >
                            <section
                                class="flex flex-col md:flex-row md:space-x-4 space-y-4 md:space-y-0"
                            >
                                <div
                                    class="flex justify-between items-center border-2 dark:border-gray-500 py-1 px-3 rounded"
                                >
                                    <input
                                        class="pr-8 flex-grow outline-none dark:bg-gray-700 text-gray-600 focus:text-blue-600 border-0 focus:ring-0"
                                        type="text"
                                        placeholder="Rechercher un événement"
                                        v-model.lazy.trim="searchBar"
                                    />
                                    <span>
                                        <SvgSearch
                                            class="w-6 h-6 text-gray-200"
                                        />
                                    </span>
                                </div>

                                <button
                                    type="button"
                                    v-on:click="showSort = !showSort"
                                    class="focus:outline-none text-gray-600 dark:bg-gray-600 dark:text-gray-300 dark:hover:bg-gray-800 text-sm py-2.5 px-5 rounded-md border border-gray-600 hover:bg-gray-50 transition duration-200 ease-in-out transform hover:scale-110"
                                >
                                    Tri avancé
                                </button>
                            </section>

                            <router-link
                                :to="{
                                    name: 'admin.events.create'
                                }"
                                class="text-center focus:outline-none text-white text-sm py-4 px-6 rounded-md bg-green-500 hover:bg-green-600 hover:shadow-lg flex items-center transition duration-200 ease-in-out transform hover:scale-110"
                            >
                                <SvgPlus class="w-6 h-8 mr-2" />
                                Nouvel événement
                            </router-link>
                        </main>
                        <transition name="fade">
                            <aside
                                v-show="showSort"
                                class="mt-4 flex flex-col md:flex-row space-y-4 space-x-0 md:space-x-4 md:space-y-0"
                            >
                                <div class="flex flex-col w-full">
                                    <label
                                        for="orderBy"
                                        class="font-semibold text-lg text-gray-900 dark:text-gray-300 mr-1"
                                        >Ordre de tri</label
                                    >
                                    <section
                                        class="flex md:flex-row space-x-2 md:space-x-4"
                                    >
                                        <select
                                            v-model="orderBy"
                                            id="orderBy"
                                            class="w-full dark:bg-gray-600 dark:text-white py-3 rounded border-2 border-gray-200"
                                        >
                                            <option value="id"
                                                >Par l'élément d'identification
                                                unique de l'événement</option
                                            >
                                            <option value="beginAt"
                                                >Par date de début des
                                                événements</option
                                            >
                                            <option value="created_at"
                                                >Par date de création des
                                                événements</option
                                            >
                                        </select>

                                        <button
                                            type="button"
                                            class="focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-gray-500 hover:bg-gray-600 hover:shadow-lg"
                                            v-on:click="
                                                orderDirection =
                                                    orderDirection === 'asc'
                                                        ? 'desc'
                                                        : 'asc'
                                            "
                                        >
                                            <SvgOrderDirection
                                                class="w-6 h-6"
                                            />
                                            <span
                                                v-show="
                                                    orderDirection === 'asc'
                                                "
                                                >ASC</span
                                            >
                                            <span
                                                v-show="
                                                    orderDirection === 'desc'
                                                "
                                                >DESC</span
                                            >
                                        </button>
                                    </section>
                                </div>
                                <div class="w-full">
                                    <label
                                        class="font-semibold text-lg text-gray-900 dark:text-gray-300 mr-1"
                                        >Tri par statut de publication</label
                                    >
                                    <select
                                        v-model="publishSorting"
                                        class="w-full dark:bg-gray-600 dark:text-white py-3 rounded border-2 border-gray-200"
                                    >
                                        <option value="all"
                                            >Prendre tout les événements</option
                                        >
                                        <option value="published"
                                            >Ne prendre que les événements
                                            publiés</option
                                        >
                                        <option value="notpublished"
                                            >Ne prendre que les événements non
                                            publiés</option
                                        >
                                    </select>
                                </div>
                            </aside>
                        </transition>
                    </header>

                    <section
                        class="grid  md:grid-cols-2
                    lg:grid-cols-3 gap-x-4 gap-y-6  mx-4"
                    >
                        <Card
                            v-for="event in events"
                            :key="event.id"
                            class="border border-indogo-100 rounded"
                            :title="event.title"
                            :description="event.description | limit(120, '...')"
                            :picture="
                                event.picture_attached ||
                                    require('@/assets/images/image-not-found.png')
                            "
                        >
                            <div>
                                <hr />
                                <div class="flex">
                                    <router-link
                                        :to="{
                                            name: 'admin.events.edit',
                                            params: {
                                                id: event.id
                                            }
                                        }"
                                        class="text-center w-1/2 p-4 cursor-pointer text-white bg-blue-500 hover:bg-blue-600 hover:shadow-lg transition duration-200 ease-in-out border border-blue-400 transition duration-200 ease-in-out dark:bg-blue-700 dark:hover:bg-blue-800"
                                    >
                                        <p>
                                            <span class="font-semibold"
                                                >Modifier</span
                                            >
                                        </p>
                                    </router-link>
                                    <div class="border border-indigo-100"></div>
                                    <router-link
                                        :to="{
                                            name: 'events.show',
                                            params: {
                                                id: event.id
                                            }
                                        }"
                                        class="text-center w-1/2 p-4 hover:bg-gray-100 cursor-pointer transition duration-200 ease-in-out dark:text-white dark:hover:bg-gray-800"
                                    >
                                        <p>
                                            <span class="font-semibold"
                                                >Voir la page</span
                                            >
                                        </p>
                                    </router-link>
                                </div>
                            </div>
                        </Card>

                        <div v-if="events.length == 0" class="dark:text-white">
                            Il n'y a aucun événement
                        </div>
                    </section>

                    <footer
                        class="mt-6 mb-3 w-full flex justify-center"
                        v-show="canShowMore"
                    >
                        <button
                            type="button"
                            class="focus:outline-none text-blue-600 text-lg py-3 px-8 rounded-md border border-blue-600 hover:bg-blue-50 dark:text-blue-200 dark:hover:bg-blue-900 dark:bg-blue-800 transition duration-200 ease-in-out transform hover:scale-110"
                            @click="showMore"
                        >
                            Voir plus
                        </button>
                    </footer>
                </div>
            </div>
        </main>
    </div>
</template>

<script>
import SvgSearch from "@/assets/icon/search.svg";
import SvgPlus from "@/assets/icon/plus.svg";
import SvgOrderDirection from "@/assets/icon/order-direction.svg";
import Header from "@/components/admin/Header.vue";
import Card from "../../../components/admin/Card.vue";
import axios from "axios";

export default {
    name: "Index",
    components: {
        SvgSearch,
        SvgPlus,
        SvgOrderDirection,
        Header,
        Card
    },
    beforeMount() {
        this.syncEvents();
    },
    data() {
        return {
            events: [],
            showSort: false,
            searchBar: "",
            orderBy: "id",
            orderDirection: "desc",
            publishSorting: "all",
            elementsOnPage: 6,
            canShowMore: false
        };
    },
    filters: {
        /**
         * Returns the first `limit` characters from the given `string`.
         *
         * @param {String} string
         * @param {Number} limit
         *
         * @returns {String}
         */
        limit: function(value, limit, end = "...") {
            if (value.length < limit) {
                return value;
            }
            return value.substring(0, limit) + end;
        }
    },
    methods: {
        showMore() {
            this.elementsOnPage += 6;
            this.syncEvents();
        },
        syncEvents() {
            // Fetch events by a unique request construct by the user choices
            axios
                .get(
                    `${process.env.VUE_APP_API_URL}/events?&order[${
                        this.orderBy
                    }]=${this.orderDirection}&itemsPerPage=${
                        this.elementsOnPage
                    }&page=1${
                        this.searchBar ? `&title=${this.searchBar}` : ""
                    }${
                        this.publishSorting === "all"
                            ? ""
                            : `&published=${this.publishSorting ===
                                  "published"}`
                    }`
                )
                .then(response => {
                    this.events = response.data["hydra:member"];
                    this.canShowMore =
                        response.data["hydra:totalItems"] > this.events.length;
                });
        }
    },
    watch: {
        /** Each time the user search or filter something, it resync the results */
        searchBar: function() {
            this.syncEvents();
        },
        orderBy: function() {
            this.syncEvents();
        },
        orderDirection: function() {
            this.syncEvents();
        },
        publishSorting: function() {
            this.syncEvents();
        }
    }
};
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
</style>
