<template>
    <main>
        <Header>
            <div>Gestion des catégories</div>
        </Header>
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div
                    class="bg-white dark:bg-gray-700 overflow-x-auto shadow-xl sm:rounded-lg px-3 py-4"
                >
                    <header class="px-4 mt-5 mb-4">
                        <main
                            class="flex flex-col md:flex-row items-center space-x-0 md:space-x-4 space-y-4 md:space-y-0 justify-around"
                        >
                            <div
                                class="lg:w-1/2 xl:w-1/3 border-2 dark:border-gray-500 py-1 px-3 flex justify-between items-center rounde-md rounded-md"
                            >
                                <input
                                    class="flex-grow outline-none dark:bg-gray-700 text-gray-600 focus:text-blue-600 border-0 focus:ring-0"
                                    type="text"
                                    placeholder="Rechercher une catégorie"
                                    v-model.lazy.trim="searchBar"
                                />
                                <div>
                                    <SvgSearch
                                        class="h-6 w-6 text-gray-400 hover:text-blue-400 transition duration-100 cursor-pointer"
                                    />
                                </div>
                            </div>
                            <div>
                                <button
                                    type="button"
                                    v-on:click="createModal.isOpen = true"
                                    class="focus:outline-none text-white text-sm py-4 px-6 rounded-md bg-green-500 hover:bg-green-600 hover:shadow-lg flex items-center transition duration-200 ease-in-out transform hover:scale-110"
                                >
                                    <SvgPlus class="w-4 h-4 mr-2" />
                                    Ajouter une catégorie
                                </button>
                            </div>
                        </main>
                    </header>

                    <table
                        class="min-w-full overflow-x-scroll divide-y divide-gray-200 dark:divide-gray-500"
                    >
                        <thead class="bg-gray-50 dark:bg-gray-800">
                            <tr>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 dark:text-gray-200 uppercase"
                                >
                                    Titre
                                </th>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 dark:text-gray-200 uppercase"
                                >
                                    Description
                                </th>
                                <th scope="col" class="relative px-6 py-3">
                                    <span class="sr-only">Edition</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody
                            class="bg-white divide-y divide-gray-200 dark:divide-gray-600"
                        >
                            <tr
                                v-for="category in eventCategories"
                                :key="category.id"
                                class="transition-all dark:bg-gray-800
                                hover:bg-gray-100 dark:hover:bg-gray-600
                                hover:shadow-lg"
                            >
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="flex items-center">
                                        <div class="ml-4">
                                            <div
                                                class="text-sm font-medium text-gray-900 dark:text-gray-400"
                                            >
                                                {{ category.title }}
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="flex items-center">
                                        <div class="ml-4">
                                            <div
                                                class="text-sm font-medium text-gray-900 dark:text-gray-400"
                                            >
                                                {{
                                                    category.description
                                                        | limit(75)
                                                }}
                                            </div>
                                        </div>
                                    </div>
                                </td>

                                <td
                                    class="px-6 py-4 text-sm font-medium whitespace-nowrap space-x-4 flex -flex-row justify-center"
                                >
                                    <button
                                        type="button"
                                        class="focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-blue-500 hover:bg-blue-600 hover:shadow-lg transition duration-200 ease-in-out transform hover:scale-110"
                                        @click="openEditModale(category)"
                                    >
                                        Modifier
                                    </button>

                                    <button
                                        type="button"
                                        class="focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-red-500 hover:bg-red-600 hover:shadow-lg flex items-center transition duration-200 ease-in-out transform hover:scale-110"
                                        @click="openDeleteModal(category.id)"
                                    >
                                        <SvgWarning class="w-4 h-4 mr-2" />
                                        Supprimer
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <footer class="mt-4 px-4">
                        <div v-if="hasPagination">
                            <Pagination
                                :currentPage="page"
                                :itemPerPage="itemPerPage"
                                :totalItems="totalItems"
                                @gotoPage="page = $event"
                            />
                        </div>
                    </footer>
                    <CreateCategoryModal
                        v-show="createModal.isOpen"
                        @close="createModal.isOpen = false"
                        @categoryCreated="syncCategories"
                    />
                    <DeleteCategoryModal
                        v-show="deleteModal.isOpen"
                        @close="deleteModal.isOpen = false"
                        @categoryDeleted="page = 1; syncCategories()"
                        :categoryId="deleteModal.elementId"
                    />
                    <EditCategoryModal
                        v-show="updateModal.isOpen"
                        @close="updateModal.isOpen = false"
                        @categoryUpdated="syncCategories"
                        :category="updateModal.element"
                    />
                </div>
            </div>
        </div>
    </main>
</template>

<script>
import SvgSearch from "@/assets/icon/search.svg";
import SvgPlus from "@/assets/icon/plus.svg";
import SvgWarning from "@/assets/icon/warning.svg";
import Header from "@/components/admin/Header.vue";
import CreateCategoryModal from "@/components/admin/modals/eventCategories/CreateCategoryModal.vue";
import DeleteCategoryModal from "@/components/admin/modals/eventCategories/DeleteCategoryModal.vue";
import EditCategoryModal from "@/components/admin/modals/eventCategories/EditCategoryModal.vue";
import Pagination from "@/components/admin/Pagination";
import axios from "axios";

export default {
    name: "Index",
    components: {
        SvgSearch,
        SvgPlus,
        SvgWarning,
        Header,
        CreateCategoryModal,
        DeleteCategoryModal,
        EditCategoryModal,
        Pagination
    },
    created() {
        this.syncCategories();
    },
    data() {
        return {
            eventCategories: [],
            searchBar: "",
            createModal: {
                isOpen: false
            },
            updateModal: {
                isOpen: false,
                element: {}
            },
            deleteModal: {
                isOpen: false,
                elementId: 0
            },
            page: 1,
            itemPerPage: 4,
            totalItems: 0
        };
    },
    methods: {
        syncCategories() {
            axios
                .get(
                    `${process.env.VUE_APP_API_URL}/event_categories?
                    &itemsPerPage=${this.itemPerPage}
                    &order[id]=asc
                    ${this.searchBar ? `&title=${this.searchBar}` : ""}
                    &page=${this.page}`
                )
                .then(response => {
                    this.eventCategories = response.data["hydra:member"];
                    this.totalItems = response.data["hydra:totalItems"];
                })
                .catch(() => {
                    this.flashMessage.error({
                        title: "Erreur",
                        message: "Une erreur est survenue"
                    });
                });
        },
        openDeleteModal(id) {
            this.deleteModal.elementId = id;
            this.deleteModal.isOpen = true;
        },
        openEditModale(category) {
            this.updateModal.element = category;
            this.updateModal.isOpen = true;
        }
    },
    computed: {
        hasPagination() {
            return this.totalItems > this.itemPerPage;
        }
    },
    watch: {
        searchBar: function() {
            this.syncCategories();
        },
        page: function() {
            this.syncCategories();
        }
    },
    filters: {
        /**
         * Returns the first `limit` characters from the given `string`.
         *
         * @param {String} string
         * @param {Number} limit
         *
         * @returns {String}
         */
        limit: function(value, limit, end = "...") {
            if (value.length < limit) {
                return value;
            }
            return value.substring(0, limit) + end;
        }
    }
};
</script>
