<template>
    <section>
        <!-- Page title -->
        <Navbar />

        <!-- Page content -->
        <main class="w-full">
            <router-view></router-view>
        </main>
    </section>
</template>

<script>
import Navbar from "./admin-layouts-parts/Nav.vue";
export default {
    components: {
        Navbar
    }
};

// Set body classes
document.body.classList =
    "bg-white dark:bg-gray-900 h-screen flex flex-col justify-between font-poppins";
</script>
