<template>
    <section class="bg-white dark:bg-gray-900 h-screen flex flex-col justify-between">
		<Header />
		<main class="w-full">
			<slot></slot>
		</main>
		<footer>
			<Footer />
		</footer>
	</section>
</template>

<script>
import Header from "./app-layout-parts/Header.vue";
import Footer from "./app-layout-parts/Footer.vue";

export default {
	components: {
		Header,
		Footer
	},
};

// Set body classes
document.body.classList = "bg-white dark:bg-gray-900 h-screen flex flex-col justify-between font-poppins"
</script>
