<template>
	<div class="font-sans text-gray-900 antialiased">
		<div class="min-h-screen flex flex-col sm:justify-center items-center pt-6 sm:pt-0 bg-gray-100 dark:bg-gray-900">
			<div>
				<aside class="relative">
					<div class="absolute w-64 h-64 bg-purple-200 filter blur-3xl -top-12"></div>
					<img
						src="@/assets/logo.webp"
						alt="Weponies Logo"
						class="relative z-10 w-48"
					>
				</aside>
			</div>

			<div class="w-full sm:max-w-xl mt-6 px-6 py-4 bg-white dark:bg-gray-800 shadow-md overflow-hidden sm:rounded-lg">
				<router-view></router-view>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: "GuestLayout",
	components: {},
};
</script>
