<template>
	<section>
		<main class="w-full">
			<router-view></router-view>
		</main>
	</section>
</template>

<script>
export default {
    name: "ProfileLayout",
	components: {},
};

// Set body classes
document.body.classList =
	"bg-white dark:bg-gray-900 h-screen flex flex-col justify-between font-poppins";
</script>
