<template>
    <BaseModal @close="$emit('close')" @validate="createCategory">
        <template #title>
            Créer une catégorie
        </template>
        <section class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
                <label
                    class="block font-medium text-sm text-gray-600 dark:text-gray-200 leading-7 text-md text-gray-600"
                    for="create_name"
                >
                    Titre
                </label>
                <input
                    class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm dark:border-gray-500 dark:bg-gray-600 dark:text-white block text-sm py-3 px-4 rounded-lg w-full border outline-none"
                    type="text"
                    id="create_name"
                    v-model="category.title"
                />
                <div v-if="errors.title" class="mt-2 text-sm text-red-500">
                    {{ errors.title.join(" ") }}
                </div>
            </div>
            <div>
                <label
                    class="block font-medium text-sm text-gray-600 dark:text-gray-200 leading-7 text-md text-gray-600"
                    for="create_email"
                >
                    Description
                </label>
                <input
                    class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm dark:border-gray-500 dark:bg-gray-600 dark:text-white block text-sm py-3 px-4 rounded-lg w-full border outline-none"
                    type="text"
                    id="create_email"
                    v-model="category.description"
                />
                <div v-if="errors.description" class="mt-2 text-sm text-red-500">
                    {{ errors.description.join(" ") }}
                </div>
            </div>
            <!-- <div>
                <label
                    class="block font-medium text-sm text-gray-600 dark:text-gray-200 leading-7 text-md text-gray-600"
                    for="create_bg_color"
                >
                    Couleur de fond
                </label>
                <input
                    class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm dark:border-gray-500 dark:bg-gray-600 dark:text-white block text-sm py-2 px-4 rounded-lg w-full border outline-none h-16 cursor-pointer"
                    type="color"
                    id="create_bg_color"
                    v-model="category.bg_color"
                />
            </div>
            <div>
                <label
                    class="block font-medium text-sm text-gray-600 dark:text-gray-200 leading-7 text-md"
                    for="create_text_color"
                >
                    Couleur de texte
                </label>
                <input
                    disabled=""
                    class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm dark:border-gray-500 dark:bg-gray-600 dark:text-white block text-sm py-2 px-4 rounded-lg w-full border outline-none h-16 disabled:bg-gray-900 disabled:opacity-50 cursor-pointer disabled:cursor-default"
                    type="color"
                    id="create_text_color"
                    v-model="category.text_color"
                />
            </div> -->
        </section>
        <!-- <section class="flex justify-center w-full">
            <label class="inline-flex items-center mt-3 mx-auto">
                <input
                    type="checkbox"
                    class="form-checkbox h-5 w-5 text-indigo-600 rounded"
                    v-model="automaticTextColor"
                /><span class="ml-2 text-gray-700 dark:text-white"
                    >Estimer la couleur du texte
                    automatiquement</span
                >
            </label>
        </section> -->

        <template #cancelText>Annuler</template>
        <template #validateText>Valider</template>
    </BaseModal>
</template>

<script>
import BaseModal from "@/components/admin/modals/BaseModal";
import axios from "axios";

export default {
    name: "CreateCategoryModal",
    components: {
        BaseModal
    },
    data() {
        return {
            automaticTextColor: false,
            category: {
                title: "",
                description: "",
                bg_color: "#ffffff",
                text_color: "#000000"
            },
            errors: {
                title: [],
                description: []
            },
            initialErrors: Object.assign({}, this.errors)
        };
    },
    methods: {
        createCategory() {
            axios
                .post(
                    `${process.env.VUE_APP_API_URL}/event_categories`,
                    this.category
                )
                .then(() => {
                    this.resetFields();
                    
                    // Close the modal
                    this.$emit("close");
                    this.$emit('categoryCreated');

                    this.flashMessage.success({
                        title: "Ajout réussi",
                        message: "La catégorie a été correctement ajouté."
                    });
                })
                .catch(error => {
                    this.resetErrors();
                    error.response.data.violations.forEach(error => {
                        // If the error field is not referenced, create an array of it
                        if(this.errors[error.propertyPath] === undefined) {
                            this.errors[error.propertyPath] = [];
                        }
                        // Then add the error message
                        this.errors[error.propertyPath].push(error.message);
                    });

                    this.flashMessage.error({
                        title: "Erreur d'ajout",
                        message: "La catégorie n'a pas pu être ajouté."
                    });
                });
        },
        resetErrors() {
            this.errors = Object.assign({}, this.initialErrors);
        },
        resetFields() {
            this.category = {
                title: "",
                description: "",
                bg_color: "#ffffff",
                text_color: "#000000"
            };
        }
    }
};
</script>
