<template>
    <BaseModal
        @close="$emit('close')"
        @validate="validateMethod"
        :isWarning="true"
    >
        <template #title>
            Supprimer la catégorie
        </template>
        Voulez-vous vraiment supprimer la catégorie ? La suppression est
        définitive.

        <template #cancelText>Annuler</template>
        <template #validateText>Supprimer</template>
    </BaseModal>
</template>

<script>
import BaseModal from "@/components/admin/modals/BaseModal";
import axios from "axios";

export default {
    name: "DeleteCategoryModal",
    components: {
        BaseModal
    },
    props: {
        categoryId: {
            type: Number,
            required: true
        }
    },
    methods: {
        validateMethod() {
            axios
                .delete(`${process.env.VUE_APP_API_URL}/event_categories/${this.categoryId}`)
                .then(() => {
                    this.$emit("close");
                    this.$emit("categoryDeleted", this.categoryId);

                    this.flashMessage.success({
                        title: "Suppression réussi",
                        message: "La catégorie a été correctement supprimé."
                    });
                })
                .catch(error => {
                    console.log(error);
                    this.flashMessage.error({
                        title: "Erreur de supression",
                        message: "La catégorie n'a pas pu être supprimé."
                    });
                });
        }
    }
};
</script>
