<template>
    <BaseModal
        @close="$emit('close')"
        @validate="updateCategory"
        :isWarning="false"
    >
        <template #title>
            Mettre à jour la catégorie {{ category.title }}
        </template>

        <section class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
                <label
                    class="block font-medium text-sm text-gray-600 dark:text-gray-200 leading-7 text-md text-gray-600"
                    for="create_name"
                >
                    Titre
                </label>
                <input
                    class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm dark:border-gray-500 dark:bg-gray-600 dark:text-white block text-sm py-3 px-4 rounded-lg w-full border outline-none"
                    type="text"
                    id="create_name"
                    v-model="editedCategory.title"
                />
                <div v-if="errors.title" class="mt-2 text-sm text-red-500">
                    {{ errors.title.join(" ") }}
                </div>
            </div>
            <div>
                <label
                    class="block font-medium text-sm text-gray-600 dark:text-gray-200 leading-7 text-md text-gray-600"
                    for="create_email"
                >
                    Description
                </label>
                <input
                    class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm dark:border-gray-500 dark:bg-gray-600 dark:text-white block text-sm py-3 px-4 rounded-lg w-full border outline-none"
                    type="text"
                    id="create_email"
                    v-model="editedCategory.description"
                />
                <div
                    v-if="errors.description"
                    class="mt-2 text-sm text-red-500"
                >
                    {{ errors.description.join(" ") }}
                </div>
            </div>
            <!-- <div>
                <label
                    class="block font-medium text-sm text-gray-600 dark:text-gray-200 leading-7 text-md text-gray-600"
                    for="create_bg_color"
                >
                    Couleur de fond
                </label>
                <input
                    class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm dark:border-gray-500 dark:bg-gray-600 dark:text-white block text-sm py-2 px-4 rounded-lg w-full border outline-none h-16 cursor-pointer"
                    type="color"
                    id="create_bg_color"
                    v-model="editedCategory.bg_color"
                />
            </div>
            <div>
                <label
                    class="block font-medium text-sm text-gray-600 dark:text-gray-200 leading-7 text-md"
                    for="create_text_color"
                >
                    Couleur de texte
                </label>
                <input
                    disabled=""
                    class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm dark:border-gray-500 dark:bg-gray-600 dark:text-white block text-sm py-2 px-4 rounded-lg w-full border outline-none h-16 disabled:bg-gray-900 disabled:opacity-50 cursor-pointer disabled:cursor-default"
                    type="color"
                    id="create_text_color"
                    v-model="editedCategory.text_color"
                />
            </div> -->
        </section>
        <!-- <section class="flex justify-center w-full">
            <label class="inline-flex items-center mt-3 mx-auto">
                <input
                    type="checkbox"
                    class="form-checkbox h-5 w-5 text-indigo-600 rounded"
                    v-model="automaticTextColor"
                /><span class="ml-2 text-gray-700 dark:text-white"
                    >Estimer la couleur du texte
                    automatiquement</span
                >
            </label>
        </section> -->

        <template #cancelText>Annuler</template>
        <template #validateText>Mettre à jour</template>
    </BaseModal>
</template>

<script>
import BaseModal from "@/components/admin/modals/BaseModal";
import axios from "axios";

export default {
    name: "EditCategoryModal",
    components: {
        BaseModal
    },
    props: {
        category: {
            type: Object,
            required: true
        }
    },
    data() {
        return {
            automaticTextColor: false,
            editedCategory: {
                title: "",
                description: "",
                bg_color: "",
                text_color: ""
            },
            errors: {
                title: [],
                description: []
            }
        };
    },
    methods: {
        updateCategory() {
            axios
                .patch(
                    `${process.env.VUE_APP_API_URL}/event_categories/${this.category.id}`,
                    this.editedCategory
                )
                .then(() => {
                    this.$emit("close");
                    this.$emit("categoryUpdated");

                    this.flashMessage.success({
                        title: "Mise à jour réussi",
                        message: "La catégorie a été correctement mis à jour."
                    });
                })
                .catch(() => {
                    this.flashMessage.error({
                        title: "Erreur de mise à jour",
                        message: "La catégorie n'a pas pu être mis à jour."
                    });
                });
        }
    },
    watch: {
        category: {
            handler() {
                this.editedCategory = {
                    title: this.category.title,
                    description: this.category.description,
                    bg_color: this.category.bg_color,
                    text_color: this.category.text_color
                };
            },
            immediate: true
        }
    }
};
</script>
