<template>
    <article
        class="w-full flex flex-col justify-between bg-white dark:bg-gray-700 shadow-xl transform duration-200 easy-in-out"
    >
        <header class="h-32 overflow-hidden rounded" v-if="picture">
            <div
                class="w-full h-full bg-center bg-origin-padding bg-local bg-cover"
                :style="`background-image: url('${this.picture}')`"
                :src="picture"
            ></div>
        </header>

        <main class="mt-4">
            <div class="text-center px-14">
                <h2
                    class="text-gray-800 dark:text-gray-300 text-3xl font-bold break-words"
                >
                    {{ title }}
                </h2>
                <h3
                    class="text-gray-700 dark:text-gray-400 text-lg font-semibold break-words"
                >
                    {{ subTitle }}
                </h3>
                <p
                    class="mt-2 text-gray-600 dark:text-white overflow-hidden break-words"
                >
                    {{ description }}
                </p>
            </div>
        </main>

        <footer class="mt-6">
            <slot></slot>
        </footer>
    </article>
</template>

<script>
export default {
    props: {
        title: {
            type: String,
            default: ""
        },
        subTitle: {
            type: String,
            default: ""
        },
        description: {
            type: String,
            default: ""
        },
        picture: {
            type: String,
            default: ""
        }
    }
};
</script>
