<template>
    <v-date-picker
        :is-dark="this.isDarkTheme"
        v-model="range"
        is-range
        mode="dateTime"
        is24hr
        locale="fr"
    >
        <template
            v-slot="{
                inputValue,
                inputEvents,
                isDragging
            }"
        >
            <div class="flex flex-col sm:flex-row justify-start items-center">
                <div class="relative flex-grow">
                    <svg
                        class="text-gray-600 dark:text-gray-200 w-4 h-full mx-2 absolute pointer-events-none"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
                        ></path>
                    </svg>
                    <input
                        class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm dark:border-gray-500 dark:bg-gray-600 dark:text-white flex-grow pl-8 pr-2 py-2 bg-gray-100 border rounded w-full text-gray-900"
                        :class="
                            isDragging ? 'text-gray-600' : 'text-gray-900'
                        "
                        :value="inputValue.start"
                        v-on="inputEvents.start"
                    />
                </div>
                <span class="flex-shrink-0 m-2">
                    <svg
                        class="w-4 h-4 stroke-current text-gray-600"
                        viewBox="0 0 24 24"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M14 5l7 7m0 0l-7 7m7-7H3"
                        />
                    </svg>
                </span>
                <div class="relative flex-grow">
                    <svg
                        class="text-gray-600 dark:text-gray-200 w-4 h-full mx-2 absolute pointer-events-none"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
                        ></path>
                    </svg>
                    <input
                        class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm dark:border-gray-500 dark:bg-gray-600 dark:text-white flex-grow pl-8 pr-2 py-2 bg-gray-100 border rounded w-full text-gray-900"
                        :class="
                            isDragging ? 'text-gray-600' : 'text-gray-900'
                        "
                        :value="inputValue.end"
                        v-on="inputEvents.end"
                    />
                </div>
            </div>
        </template>
    </v-date-picker>
</template>

<script>
export default {
    name: "DatePicker",
    props: {
        range: {
            type: Object,
            default: () => {
                return {
                    start: new Date(),
                    end: new Date()
                };
            }
        }
    },
    watch: {
        range: {
            handler(newValue) {
                this.$emit("input", newValue);
            }
        }
    }
};
</script>
