<template>
	<header class="bg-white dark:bg-gray-700 shadow">
		<div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8 dark:text-gray-200">
			<div class="flex flex-col md:flex-row space-y-4 md:space-y-0 space-x-0 md:space-x-8 items-center">
				<h2 class="font-semibold text-xl text-gray-800 dark:text-gray-200 leading-tight">
					<slot></slot>
				</h2>
			</div>
		</div>
	</header>
</template>

<script>
export default {
    name: "Header"
}
</script>
