<template>
    <article
        class="space-y-2 z-10"
        x-data="selectCategories"
        wire:ignore="wire:ignore"
        name="multiple-select"
    >
        <label class="text-gray-700 dark:text-gray-200">Catégories</label>
        <div class="relative" x-on:click.away="open = false">
            <!-- Selected categories -->
            <div
                class="mb-4 p-2 border flex flex-row flex-wrap rounded"
                x-show="selections.length > 0"
                x-transition=""
                style="display: none;"
            >
                <template
                    x-for="categoryId in selections"
                    x-bind:key="categoryId"
                >
                    <div
                        class="flex flex-row justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-blue-700 bg-blue-100 border border-blue-300 dark:bg-blue-700 dark:text-blue-100"
                    >
                        <div
                            class="text-xs font-normal leading-none"
                            x-text="getSelectedValue(categoryId)"
                        ></div>
                        <div class="flex flex-auto flex-row-reverse">
                            <div
                                x-on:click="
                                                    removeSelection(categoryId)
                                                "
                            >
                                <svg
                                    class="fill-current h-6 w-6"
                                    role="button"
                                    viewBox="0 0 20 20"
                                >
                                    <path
                                        d="M14.348,14.849c-0.469,0.469-1.229,0.469-1.697,0L10,11.819l-2.651,3.029c-0.469,0.469-1.229,0.469-1.697,0
                                               c-0.469-0.469-0.469-1.229,0-1.697l2.758-3.15L5.651,6.849c-0.469-0.469-0.469-1.228,0-1.697s1.228-0.469,1.697,0L10,8.183
                                               l2.651-3.031c0.469-0.469,1.228-0.469,1.697,0s0.469,1.229,0,1.697l-2.758,3.152l2.758,3.15
                                               C14.817,13.62,14.817,14.38,14.348,14.849z"
                                    ></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
            <!-- Dropdown button -->
            <button
                type="button"
                -on:click="open = !open"
                class="bg-indigo-500 p-3 rounded text-white shadow-inner w-full flex flex-row justify-between items-center space-x-4 transition duration-200 ease-in-out hover:bg-indigo-600 dark:bg-indigo-700"
            >
                <span>Cliquez ici pour sélectionner une catégorie</span>

                <svg
                    class="h-4 fill-current text-white transition duration-200 ease-in-out transform"
                    :class="open &amp;&amp; 'mirror-y'"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 129 129"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    enable-background="new 0 0 129 129"
                >
                    <g>
                        <path
                            d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"
                        ></path>
                    </g>
                </svg>
            </button>
            <!-- Selection menu -->
            <div
                class="rounded border bg-indigo-100 dark:bg-gray-600 shadow-md pin-t pin-l absolute w-full z-10 h-44 md:h-64 overflow-y-auto"
                x-show="open"
                x-transition=""
                style="display: none;"
            >
                <ul class="list-reset">
                    <li
                        class="p-2 flex justify-center items-center bg-green-500 hover:bg-green-600 hover:shadow-lg  transition duration-200 ease-in-out cursor-pointer text-white"
                        wire:click="$emitTo('backoffice.event-categories.create-modal', 'openModal')"
                    >
                        <!-- Made by dmitry13 - Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                        <svg
                            version="1.1"
                            xmlns="http://www.w3.org/2000/svg"
                            x="0px"
                            y="0px"
                            viewBox="0 0 512 512"
                            style="enable-background:new 0 0 512 512;"
                            xml:space="preserve"
                            class="fill-current w-4 h-4 mr-2"
                        >
                            <g>
                                <g>
                                    <path
                                        d="M256,0C114.833,0,0,114.833,0,256s114.833,256,256,256s256-114.853,256-256S397.167,0,256,0z M256,472.341
   c-119.275,0-216.341-97.046-216.341-216.341S136.725,39.659,256,39.659S472.341,136.705,472.341,256S375.295,472.341,256,472.341z
   "
                                    ></path>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path
                                        d="M355.148,234.386H275.83v-79.318c0-10.946-8.864-19.83-19.83-19.83s-19.83,8.884-19.83,19.83v79.318h-79.318
   c-10.966,0-19.83,8.884-19.83,19.83s8.864,19.83,19.83,19.83h79.318v79.318c0,10.946,8.864,19.83,19.83,19.83
   s19.83-8.884,19.83-19.83v-79.318h79.318c10.966,0,19.83-8.884,19.83-19.83S366.114,234.386,355.148,234.386z"
                                    ></path>
                                </g>
                            </g>
                        </svg>
                        Ajouter une catégorie
                    </li>
                    <template
                        x-for="category in categories"
                        x-bind:key="category.id"
                    >
                        <li
                            x-on:click="
                                                toggleSelection(category.id)
                                            "
                            class="block p-2 text-black dark:text-white hover:bg-indigo-300 cursor-pointer border-l-4 group"
                            :class="
                                isSelected(category.id)
                                    ? 'border-l-blue-500'
                                    : 'dark:border-l-gray-600'
                            "
                        >
                            <p
                                class="group-hover:text-indigo-900 "
                                x-text="category.title"
                            ></p>
                            <p
                                class="text-gray-700 group-hover:text-indigo-600 text-xs dark:text-gray-300"
                                x-text="category.description"
                            ></p>
                        </li>
                        <!-- Selected item -->
                        <template x-if="isSelected(category.id)">
                            <svg
                                class="float-right"
                                xmlns="http://www.w3.org/2000/svg"
                                width="18"
                                height="18"
                                viewBox="0 0 18 18"
                            >
                                <path
                                    d="M6.61 11.89L3.5 8.78 2.44 9.84 6.61 14l8.95-8.95L14.5 4z"
                                ></path>
                            </svg>
                        </template>
                    </template>
                    <li
                        x-on:click="toggleSelection(category.id)"
                        class="block p-2 text-black dark:text-white hover:bg-indigo-300 cursor-pointer border-l-4 group dark:border-l-gray-600"
                        :class="
                            isSelected(category.id)
                                ? 'border-l-blue-500'
                                : 'dark:border-l-gray-600'
                        "
                    >
                        <p
                            class="group-hover:text-indigo-900 "
                            x-text="category.title"
                        >
                            Colette Pierre
                        </p>
                        <p
                            class="text-gray-700 group-hover:text-indigo-600 text-xs dark:text-gray-300"
                            x-text="category.description"
                        >
                            Dolor temporibus facilis vitae ex omnis qui minus.
                        </p>
                    </li>
                    <li
                        x-on:click="toggleSelection(category.id)"
                        class="block p-2 text-black dark:text-white hover:bg-indigo-300 cursor-pointer border-l-4 group dark:border-l-gray-600"
                        :class="
                            isSelected(category.id)
                                ? 'border-l-blue-500'
                                : 'dark:border-l-gray-600'
                        "
                    >
                        <p
                            class="group-hover:text-indigo-900 "
                            x-text="category.title"
                        >
                            Susanne Lopes
                        </p>
                        <p
                            class="text-gray-700 group-hover:text-indigo-600 text-xs dark:text-gray-300"
                            x-text="category.description"
                        >
                            Voluptatum eaque commodi vitae dicta ab quo.
                        </p>
                    </li>
                    <li
                        x-on:click="toggleSelection(category.id)"
                        class="block p-2 text-black dark:text-white hover:bg-indigo-300 cursor-pointer border-l-4 group dark:border-l-gray-600"
                        :class="
                            isSelected(category.id)
                                ? 'border-l-blue-500'
                                : 'dark:border-l-gray-600'
                        "
                    >
                        <p
                            class="group-hover:text-indigo-900 "
                            x-text="category.title"
                        >
                            Joseph Breton
                        </p>
                        <p
                            class="text-gray-700 group-hover:text-indigo-600 text-xs dark:text-gray-300"
                            x-text="category.description"
                        >
                            Minus necessitatibus rerum nemo sed cupiditate
                            laudantium ut suscipit.
                        </p>
                    </li>
                    <li
                        x-on:click="toggleSelection(category.id)"
                        class="block p-2 text-black dark:text-white hover:bg-indigo-300 cursor-pointer border-l-4 group dark:border-l-gray-600"
                        :class="
                            isSelected(category.id)
                                ? 'border-l-blue-500'
                                : 'dark:border-l-gray-600'
                        "
                    >
                        <p
                            class="group-hover:text-indigo-900 "
                            x-text="category.title"
                        >
                            Josette de Fontaine
                        </p>
                        <p
                            class="text-gray-700 group-hover:text-indigo-600 text-xs dark:text-gray-300"
                            x-text="category.description"
                        >
                            Iste est aliquam omnis.
                        </p>
                    </li>
                    <li
                        x-on:click="toggleSelection(category.id)"
                        class="block p-2 text-black dark:text-white hover:bg-indigo-300 cursor-pointer border-l-4 group dark:border-l-gray-600"
                        :class="
                            isSelected(category.id)
                                ? 'border-l-blue-500'
                                : 'dark:border-l-gray-600'
                        "
                    >
                        <p
                            class="group-hover:text-indigo-900 "
                            x-text="category.title"
                        >
                            Hortense Lebrun
                        </p>
                        <p
                            class="text-gray-700 group-hover:text-indigo-600 text-xs dark:text-gray-300"
                            x-text="category.description"
                        >
                            Eos aliquid quae quidem ratione vel iure.
                        </p>
                    </li>
                    <li
                        x-on:click="toggleSelection(category.id)"
                        class="block p-2 text-black dark:text-white hover:bg-indigo-300 cursor-pointer border-l-4 group dark:border-l-gray-600"
                        :class="
                            isSelected(category.id)
                                ? 'border-l-blue-500'
                                : 'dark:border-l-gray-600'
                        "
                    >
                        <p
                            class="group-hover:text-indigo-900 "
                            x-text="category.title"
                        >
                            Tristan Barthelemy
                        </p>
                        <p
                            class="text-gray-700 group-hover:text-indigo-600 text-xs dark:text-gray-300"
                            x-text="category.description"
                        >
                            Consequatur nesciunt velit sit autem ad.
                        </p>
                    </li>
                    <li
                        x-on:click="toggleSelection(category.id)"
                        class="block p-2 text-black dark:text-white hover:bg-indigo-300 cursor-pointer border-l-4 group dark:border-l-gray-600"
                        :class="
                            isSelected(category.id)
                                ? 'border-l-blue-500'
                                : 'dark:border-l-gray-600'
                        "
                    >
                        <p
                            class="group-hover:text-indigo-900 "
                            x-text="category.title"
                        >
                            Anne Blanc
                        </p>
                        <p
                            class="text-gray-700 group-hover:text-indigo-600 text-xs dark:text-gray-300"
                            x-text="category.description"
                        >
                            Voluptas repellat qui quod deleniti quo.
                        </p>
                    </li>
                    <li
                        x-on:click="toggleSelection(category.id)"
                        class="block p-2 text-black dark:text-white hover:bg-indigo-300 cursor-pointer border-l-4 group dark:border-l-gray-600"
                        :class="
                            isSelected(category.id)
                                ? 'border-l-blue-500'
                                : 'dark:border-l-gray-600'
                        "
                    >
                        <p
                            class="group-hover:text-indigo-900 "
                            x-text="category.title"
                        >
                            Philippe Briand
                        </p>
                        <p
                            class="text-gray-700 group-hover:text-indigo-600 text-xs dark:text-gray-300"
                            x-text="category.description"
                        >
                            Illum nesciunt aliquam soluta accusantium hic
                            aperiam.
                        </p>
                    </li>
                    <li
                        x-on:click="toggleSelection(category.id)"
                        class="block p-2 text-black dark:text-white hover:bg-indigo-300 cursor-pointer border-l-4 group dark:border-l-gray-600"
                        :class="
                            isSelected(category.id)
                                ? 'border-l-blue-500'
                                : 'dark:border-l-gray-600'
                        "
                    >
                        <p
                            class="group-hover:text-indigo-900 "
                            x-text="category.title"
                        >
                            Raymond Guillou
                        </p>
                        <p
                            class="text-gray-700 group-hover:text-indigo-600 text-xs dark:text-gray-300"
                            x-text="category.description"
                        >
                            Omnis omnis aut quo magnam.
                        </p>
                    </li>
                    <li
                        x-on:click="toggleSelection(category.id)"
                        class="block p-2 text-black dark:text-white hover:bg-indigo-300 cursor-pointer border-l-4 group dark:border-l-gray-600"
                        :class="
                            isSelected(category.id)
                                ? 'border-l-blue-500'
                                : 'dark:border-l-gray-600'
                        "
                    >
                        <p
                            class="group-hover:text-indigo-900 "
                            x-text="category.title"
                        >
                            Eugène de Gonzalez
                        </p>
                        <p
                            class="text-gray-700 group-hover:text-indigo-600 text-xs dark:text-gray-300"
                            x-text="category.description"
                        >
                            Voluptatem et minima officia minima.
                        </p>
                    </li>
                    <li
                        x-on:click="toggleSelection(category.id)"
                        class="block p-2 text-black dark:text-white hover:bg-indigo-300 cursor-pointer border-l-4 group dark:border-l-gray-600"
                        :class="
                            isSelected(category.id)
                                ? 'border-l-blue-500'
                                : 'dark:border-l-gray-600'
                        "
                    >
                        <p
                            class="group-hover:text-indigo-900 "
                            x-text="category.title"
                        >
                            Cinéma
                        </p>
                        <p
                            class="text-gray-700 group-hover:text-indigo-600 text-xs dark:text-gray-300"
                            x-text="category.description"
                        >
                            Pour les événements cinéma !
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </article>
</template>

<script>
export default {
    name: 'MultiSelect',
}
</script>