<template>
    <nav
        role="navigation"
        aria-label="Pagination Navigation"
        class="flex items-center justify-between"
    >
        <div class="flex justify-between flex-1 sm:hidden">
            <span>
                <span
                    class="relative inline-flex items-center px-4 py-2 text-sm font-medium bg-white border border-gray-300 leading-5 rounded-md"
                    :class="
                        hasPreviousPage
                            ? 'ml-3 text-gray-700 leading-5 rounded-md hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150'
                            : 'text-gray-500 cursor-default'
                    "
                >
                    « Précédent
                </span>
            </span>

            <span>
                <button
                    @click="gotoPage(currentPage + 1)"
                    class="relative inline-flex items-center px-4 py-2 text-sm font-medium bg-white border border-gray-300 leading-5 rounded-md"
                    :class="
                        hasNextPage
                            ? 'ml-3 text-gray-700 leading-5 rounded-md hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150'
                            : 'text-gray-500 cursor-default'
                    "
                >
                    Suivant »
                </button>
            </span>
        </div>

        <div
            class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between"
        >
            <div>
                <p class="text-sm text-gray-700 dark:text-white leading-5">
                    <span>Montrant </span>
                    <span class="font-medium">{{
                        Math.min(
                            totalItems,
                            1 + itemPerPage * currentPage - itemPerPage
                        )
                    }}</span>
                    <span> à </span>
                    <span class="font-medium">{{
                        Math.min(totalItems, itemPerPage * currentPage)
                    }}</span>
                    <span> de </span>
                    <span class="font-medium">{{ totalItems }}</span>
                    <span> résultats</span>
                </p>
            </div>

            <div>
                <span class="relative z-0 inline-flex rounded-md shadow-sm">
                    <span>
                        <span
                            aria-disabled="true"
                            aria-label="&amp;laquo; Précédent"
                            @click="
                                hasPreviousPage && gotoPage(currentPage - 1)
                            "
                        >
                            <button
                                class="relative inline-flex items-center px-2 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 leading-5 -ml-px rounded-l-md"
                                :class="
                                    hasPreviousPage
                                        ? 'hover:text-gray-400 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150'
                                        : 'cursor-default'
                                "
                                aria-hidden="true"
                            >
                                <SvgLeftArrow class="w-5 h-5" />
                            </button>
                        </span>
                    </span>

                    <span v-for="page in maxPage" :key="page">
                        <button
                            @click="gotoPage(page)"
                            class="relative inline-flex items-center px-4 py-2 -ml-px text-sm font-medium bg-white border border-gray-300 leading-5"
                            :class="
                                page === currentPage
                                    ? 'text-gray-500 cursor-default'
                                    : 'text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150'
                            "
                            :aria-label="`Aller à la page ${page}`"
                        >
                            {{ page }}
                        </button>
                    </span>

                    <span>
                        <button
                            @click="hasNextPage && gotoPage(currentPage + 1)"
                            dusk="nextPage.after"
                            rel="next"
                            class="relative inline-flex items-center px-2 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 leading-5 -ml-px rounded-r-md"
                            :class="
                                hasNextPage
                                    ? 'hover:text-gray-400 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150'
                                    : 'cursor-default'
                            "
                            aria-label="Suivant &amp;raquo;"
                        >
                            <SvgRightArrow class="w-5 h-5" />
                        </button>
                    </span>
                </span>
            </div>
        </div>
    </nav>
</template>

<script>
import SvgLeftArrow from "@/assets/icon/left-arrow.svg";
import SvgRightArrow from "@/assets/icon/right-arrow.svg";

export default {
    name: "Pagination",
    components: {
        SvgLeftArrow,
        SvgRightArrow
    },
    props: {
        currentPage: {
            type: Number,
            default: 1
        },
        itemPerPage: {
            type: Number,
            default: 4
        },
        totalItems: {
            type: Number,
            default: 1
        }
    },
    methods: {
        gotoPage(page) {
            this.$emit("gotoPage", page);
        }
    },
    computed: {
        maxPage() {
            return Math.ceil(this.totalItems / this.itemPerPage);
        },
        hasPreviousPage() {
            return this.currentPage > 1;
        },
        hasNextPage() {
            return this.currentPage < this.maxPage;
        }
    }
};
</script>
