<template>
    <div v-if="pageLoaded">
        <!-- Title -->
        <h2
            class="font-atma relative text-4xl text-hk-purple font-extrabold tracking-tight sm:text-5xl text-center md:text-left my-4"
            v-show="events.length > 0"
        >
            Evénements à venir
        </h2>

        <!-- Content -->
        <section v-if="events.length == 1">
            <big-event-card :event="events[0]" />
        </section>
        <section v-else-if="events.length > 1">
            <!-- Event cards -->
            <section class="mt-8 md:mt-16 grid md:grid-cols-2 lg:grid-cols-3">
                <event-card
                    :event="event"
                    v-for="event in events"
                    :key="event.id"
                />
            </section>

            <div class="w-full flex justify-center" v-show="hasMorePages">
                <button
                    type="button"
                    class="focus:outline-none text-white text-lg py-3 px-8 rounded-md bg-hk-purple dark:bg-indigo-800 dark:hover:bg-indigo-700 hover:bg-indigo-500 hover:shadow-lg transition duration-200 ease-in-out transform hover:scale-110"
                    @click="showMore"
                >
                    {{ "Voir plus" }}
                </button>
            </div>
        </section>
    </div>
    <!-- Waiting message -->
    <div v-else>
        <div class="animate-pulse flex space-x-4">
            <div class="flex-1 space-y-16 py-1">
                <h2 class="h-8 bg-hk-purple rounded w-1/4"></h2>

                <div class="flex flex-row space-x-4 items-center">
                    <div class="h-72 bg-hk-purple rounded w-1/2"></div>
                    <div class="w-1/2 space-y-4">
                        <div class="h-6 bg-hk-purple rounded mb-8 w-2/6"></div>
                        <div class="h-8 bg-hk-purple rounded w-full"></div>
                        <div class="h-4 bg-hk-purple rounded w-5/6"></div>
                        <div class="h-4 bg-hk-purple rounded w-full"></div>
                        <div class="h-4 bg-hk-purple rounded w-3/6"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import axios from "axios";
import BigEventCard from "../../../components/EventCards/BigEventCard.vue";
import EventCard from "../../../components/EventCards/EventCard.vue";

export default {
    components: { BigEventCard, EventCard },
    name: "FutureEvents",
    data() {
        return {
            pageLoaded: false, // Est-ce qu'il faut montrer le contenu à l'utilisateur ?
            events: [], // Une collection de ressource événement
            maxItemsToShow: 3, // Max item
            hasMorePages: false // Peut montrer plus d'éléments?
        };
    },
    beforeMount() {
        this.syncEventList();
    },
    methods: {
        syncEventList: async function() {
            axios
                .get(`http://localhost:3000/events/future?maxItemsToShow=${this.maxItemsToShow}`)
                .then(res => {
                    this.events = res.data.events;
                    this.hasMorePages = res.data.hasMorePages;

                    // Show the content of the page to the user
                    this.pageLoaded = true;
                })
                .catch(err => {
                    console.log(err, err.response);
                });
        },
        showMore: function() {
            this.maxItemsToShow += 3;
            this.syncEventList();
        }
    }
};
</script>
