<template>
    <section class="bg-white dark:bg-gray-800">
        <div
            class="max-w-screen-xl px-4 py-12 mx-auto space-y-8 overflow-hidden sm:px-6 lg:px-8 text-black dark:text-gray-400"
        >
            <nav class="flex flex-wrap justify-center -mx-5 -my-2">
                <div class="p-5 w-48">
                    <div
                        class="text-xs uppercase text-gray-500 dark:text-gray-100 font-medium"
                    >
                        Accueil
                    </div>
                    <a
                        class="my-3 block cursor-pointer"
                        @click="
                            !isHomePage
                                ? $router.push({ name: 'Home' })
                                : scrollToId('aboutUs')
                        "
                    >
                        A propos de nous<span class="text-xs p-1"></span>
                    </a>

                    <a
                        class="my-3 block cursor-pointer"
                        @click="
                            !isHomePage
                                ? $router.push({ name: 'Home' })
                                : scrollToId('ourTeam')
                        "
                    >
                        L'équipe<span class="text-xs p-1"></span>
                    </a>
                    <a
                        class="my-3 block cursor-pointer"
                        @click="
                            !isHomePage
                                ? $router.push({ name: 'Home' })
                                : scrollToId('partners')
                        "
                    >
                        Partenaires<span class="text-xs p-1"></span>
                    </a>
                    <a
                        class="my-3 block cursor-pointer"
                        @click="
                            !isHomePage
                                ? $router.push({ name: 'Home' })
                                : scrollToId('contactUs')
                        "
                    >
                        Nous contacter<span class="text-xs p-1"></span>
                    </a>
                </div>
                <div class="p-5 w-48">
                    <div
                        class="text-xs uppercase text-gray-500 dark:text-gray-100 font-medium"
                    >
                        Contenu
                    </div>
                    <router-link
                        class="my-3 block cursor-pointer"
                        :to="{ name: 'events' }"
                    >
                        Evénements<span class="text-xs p-1"></span>
                    </router-link>
                    <router-link
                        class="my-3 block cursor-pointer"
                        :to="{ name: 'planning' }"
                    >
                        Planning<span class="text-xs p-1"></span>
                    </router-link>
                    <router-link
                        class="my-3 block cursor-pointer"
                        :to="{ name: 'streaming' }"
                    >
                        Streaming<span class="text-xs p-1"></span>
                    </router-link>
                    <!-- <a
                        class="my-3 block cursor-pointer"
                        href="https://shiozen-gekkou.fr:8000/apis"
                    >
                        Api<span class="text-xs p-1"></span>
                    </a> -->
                </div>
                <div class="p-5 w-48">
                    <div
                        class="text-xs uppercase text-gray-500 dark:text-gray-100 font-medium"
                    >
                        Support
                    </div>
                    <router-link
                        class="my-3 block cursor-pointer"
                        :to="{ name: 'legalMentions'}"
                    >
                        Mentions légales<span class="text-xs p-1"></span>
                    </router-link>
                    <!-- <a
                        class="my-3 block cursor-pointer"
                        href="https://shiozen-gekkou.fr:8000/polique-des-cookies"
                    >
                        Politique des cookies<span class="text-xs p-1"></span>
                    </a> -->
                </div>
                <div class="p-5 w-48">
                    <div
                        class="text-xs uppercase text-gray-500 dark:text-gray-100 font-medium"
                    >
                        Adresses de contact
                    </div>
                    <span class="my-3 block">hallow-event@gmail.com</span>
                </div>
            </nav>
            <div class="flex justify-center mt-8 space-x-6">
                <a
                    href="https://m.twitch.tv/directory/game/Hollow%20Knight"
                    target="_blank"
                    rel="noopener"
                    class="text-gray-500 hover:text-gray-700 dark:hover:text-gray-300"
                >
                    <span class="sr-only">Twitch</span>
                    <TwitchSvg class="w-6 h-6" />
                </a>
                <a
                    href="https://discord.gg/hollowknight"
                    target="_blank"
                    rel="noopener"
                    class="text-gray-500 hover:text-gray-700 dark:hover:text-gray-300"
                >
                    <span class="sr-only">Discord</span>
                    <DiscordSvg class="w-6 h-6" />
                </a>
                <a
                    href="https://twitter.com/TeamCherryGames"
                    target="_blank"
                    rel="noopener"
                    class="text-gray-500 hover:text-gray-700 dark:hover:text-gray-300"
                >
                    <span class="sr-only">Twitter</span>
                    <TwitterSvg class="w-6 h-6" />
                </a>
            </div>
            <p class="mt-8 text-base leading-6 text-center text-gray-500">
                © 2021 hallow event, All rights reserved.
            </p>
        </div>
    </section>
</template>

<script>
import TwitchSvg from "@/assets/icon/twitch.svg";
import DiscordSvg from "@/assets/icon/discord.svg";
import TwitterSvg from "@/assets/icon/twitter.svg";

export default {
    name: "Footer",
    components: {
        TwitchSvg,
        DiscordSvg,
        TwitterSvg
    },
    methods: {
        scrollToId(id) {
            if (id) {
                const tag = document.querySelector("#" + id);
                window.scroll({
                    top: tag.offsetTop - 120,
                    left: 0,
                    behavior: "smooth"
                });
            } else {
                window.scroll({ top: 0, left: 0, behavior: "smooth" });
            }
        }
    },
    computed: {
        isHomePage() {
            return this.$route.name === "Home";
        }
    }
};
</script>
