<template>
    <header class="z-30">
        <nav class="flex items-center w-full h-24 select-none">
            <header
                class="fixed z-40 bg-hk-purple dark:bg-indigo-800 flex flex-wrap items-center justify-between w-full h-24 mx-auto font-medium md:justify-center"
            >
                <router-link
                    to="/"
                    class="relative w-1/4 py-4 pl-6 pr-4 md:pl-4 md:py-0 cursor-pointer"
                >
                    <div
                        class="absolute w-28 h-28 bg-purple-300 dark:bg-purple-500 filter blur-2xl -top-1/2 left-4 sm:left-12 md:left-35/100"
                    ></div>
                    <img
                        src="@/assets/logo_small.webp"
                        alt="Entité Logo"
                        class="relative w-16 mx-auto transition duration-500 ease-in-out"
                        v-bind:class="{ 'transform scale-125': atTop }"
                    />
                </router-link>
                <nav
                    class="fixed top-0 left-0 z-40 items-center w-full h-full p-3 text-xl bg-gray-900 bg-opacity-50 md:text-sm lg:text-base md:w-3/4 md:bg-transparent md:p-0 md:relative md:flex"
                    v-bind:class="{ flex: showMenu, hidden: !showMenu }"
                >
                    <div
                        class="flex-col w-full h-auto h-full overflow-hidden bg-white dark:bg-gray-900 rounded-lg select-none md:bg-transparent md:rounded-none md:relative md:flex md:flex-row overflow-auto md:overflow-visible"
                    >
                        <div
                            class="flex flex-col items-center justify-center w-full h-full mt-12 text-center text-indigo-600 md:text-white md:mt-0 md:flex-row md:items-center"
                        >
                            <router-link
                                :to="{ name: 'Home' }"
                                class="cursor-pointer transition duration-300 ease-in-out inline-block px-0 px-4 py-2 mx-2 font-medium text-left md:px-0 hover:text-indigo-800 transform md:hover:scale-110 md:hover:text-hk-yellow lg:mx-3 md:text-center md:text-white"
                                >Accueil</router-link
                            >
                            <router-link
                                :to="{ name: 'events' }"
                                class="cursor-pointer transition duration-300 ease-in-out inline-block px-0 px-4 py-2 mx-2 font-medium text-left md:px-0 hover:text-indigo-800 transform md:hover:scale-110 md:hover:text-hk-yellow lg:mx-3 md:text-center md:text-white"
                                >Evénements</router-link
                            >
                            <router-link
                                :to="{ name: 'planning' }"
                                class="cursor-pointer transition duration-300 ease-in-out inline-block px-0 px-4 py-2 mx-2 font-medium text-left md:px-0 hover:text-indigo-800 transform md:hover:scale-110 md:hover:text-hk-yellow lg:mx-3 md:text-center md:text-white"
                                >Planning</router-link
                            >
                            <router-link
                                :to="{ name: 'streaming' }"
                                class="cursor-pointer transition duration-300 ease-in-out inline-block px-0 px-4 py-2 mx-2 font-medium text-left md:px-0 hover:text-indigo-800 transform md:hover:scale-110 md:hover:text-hk-yellow lg:mx-3 md:text-center md:text-white"
                                >Streaming</router-link
                            >
                        </div>
                        <div
                            class="flex flex-col items-center justify-end w-full h-full pt-4 md:w-1/3 md:flex-row md:py-0 mb-4 md:mb-0 md:space-x-3 mr-32 text-indigo-600 md:text-indigo-200"
                        >
                            <div class="flex space-x-4" v-if="isLoggedIn()">
                                <div v-if="isAdmin()">
                                    <router-link
                                        :to="{ name: 'admin.users.index' }"
                                        class="cursor-pointer transition duration-300 ease-in-out inline-block px-0 px-4 py-2 mx-2 font-medium text-left md:px-0 hover:text-indigo-800 transform md:hover:scale-110 md:hover:text-hk-yellow lg:mx-3 md:text-center md:text-white"
                                    >
                                        Pannel staff
                                    </router-link>
                                </div>
                                <router-link
                                    :to="{ name: 'profile' }"
                                    class="cursor-pointer transition duration-300 ease-in-out inline-block px-0 px-4 py-2 mx-2 font-medium text-left md:px-0 hover:text-indigo-800 transform md:hover:scale-110 md:hover:text-hk-yellow lg:mx-3 md:text-center md:text-white"
                                >
                                    Mon profil
                                </router-link>
                            </div>
                            <div v-else>
                                <router-link
                                    :to="{ name: 'login' }"
                                    class="cursor-pointer transition duration-300 ease-in-out inline-block px-0 px-4 py-2 mx-2 font-medium text-left md:px-0 hover:text-indigo-800 transform md:hover:scale-110 md:hover:text-hk-yellow lg:mx-3 md:text-center md:text-white"
                                >
                                    Connexion
                                </router-link>
                            </div>
                        </div>
                    </div>
                </nav>
                <nav
                    v-on:click="showMenu = !showMenu"
                    class="absolute right-0 z-50 flex flex-col items-end w-10 h-10 p-2 mr-4 rounded-full cursor-pointer md:hidden hover:bg-gray-900 hover:bg-opacity-10 text-gray-100"
                    v-bind:class="{
                        'text-gray-400': showMenu,
                        'text-gray-100': !showMenu
                    }"
                >
                    <svg
                        class="w-6 h-6"
                        v-show="!showMenu"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                    <svg
                        class="w-6 h-6"
                        v-show="showMenu"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        style="display: none"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M6 18L18 6M6 6l12 12"
                        />
                    </svg>
                </nav>
            </header>
        </nav>
    </header>
</template>

<script>
import VueJwtDecode from "vue-jwt-decode";

export default {
    name: "Header",
    data() {
        return {
            atTop: false,
            showMenu: false
        };
    },
    methods: {
        onScroll: function() {
            this.atTop = window.pageYOffset < 60 ? true : false;
        },
        isLoggedIn() {
            return localStorage.getItem("token") !== null;
        },
        isAdmin() {
            const token = localStorage.getItem("token");
            if (!token) {
                return false;
            }
            const decodedToken = VueJwtDecode.decode(token);
            return decodedToken.roles.includes("ROLE_ADMIN");
        }
    },
    created() {
        this.atTop = window.pageYOffset == 0 ? true : false;
        document.addEventListener("scroll", this.onScroll);
    },
    destroyed() {
        document.removeEventListener("scroll", this.onScroll);
    }
};
</script>
