<template>
    <section>
        <div class="mb-4 text-sm text-gray-600 dark:text-gray-100">
            Mot de passe oublié ? Pas de soucis. Veuillez nous indiquer votre
            adresse email et nous vous enverrons un lien de réinitialisation du
            mot de passe.
        </div>

        <form @submit.prevent>
            <div class="block">
                <label
                    class="block font-medium text-sm text-gray-700 dark:text-gray-200"
                    for="email"
                >
                    Email
                </label>
                <input
                    class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm dark:border-gray-500 dark:bg-gray-600 dark:text-white block mt-1 w-full"
                    id="email"
                    type="email"
                    name="email"
                    required="required"
                    autofocus="autofocus"
                />
            </div>

            <div class="flex items-center justify-end mt-4">
                <button
                    type="submit"
                    class="inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition dark:bg-blue-500 dark:hover:bg-blue-600 dark:hover:shadow-lg"
                >
                    Lien de réinitialisation du mot de passe
                </button>
            </div>
        </form>
    </section>
</template>

<script>
export default {
    name: "Login"
};
</script>
