<template>
    <form @submit.prevent="submit">
        <div>
            <label
                class="block font-medium text-sm text-gray-700 dark:text-gray-200"
                for="email"
            >
                Email
            </label>
            <input
                class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm dark:border-gray-500 dark:bg-gray-600 dark:text-white block mt-1 w-full"
                id="email"
                type="email"
                name="email"
                required
                autofocus="autofocus"
                v-model="form.email"
            />
            <!-- Form Error -->
            <div
                v-if="errors.email"
                class="flex mt-2 text-sm text-red-700 dark:text-red-500"
                role="alert"
            >
                {{ errors.email }}
            </div>
        </div>

        <div class="mt-4">
            <label
                class="block font-medium text-sm text-gray-700 dark:text-gray-200"
                for="password"
            >
                Mot de passe
            </label>
            <input
                class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm dark:border-gray-500 dark:bg-gray-600 dark:text-white block mt-1 w-full"
                id="password"
                type="password"
                name="password"
                required
                v-model="form.password"
            />
            <!-- Form Error -->
            <div
                v-if="errors.password"
                class="flex mt-2 text-sm text-red-700 dark:text-red-500"
                role="alert"
            >
                {{ errors.password }}
            </div>
        </div>

        <div class="block mt-4">
            <label for="remember_me" class="flex items-center">
                <input
                    type="checkbox"
                    class="rounded border-gray-300 text-indigo-600 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                    id="remember_me"
                    name="remember"
                />
                <span class="ml-2 text-sm text-gray-600 dark:text-gray-100"
                    >Se souvenir de moi</span
                >
            </label>
        </div>

        <div class="flex items-center justify-end mt-4">
            <router-link
                class="underline text-sm text-gray-600 hover:text-gray-900 dark:text-gray-100 dark:hover:text-gray-400"
                :to="{ name: 'forgot-password' }"
            >
                Vous avez oublié votre mot de passe ?
            </router-link>

            <button
                type="submit"
                class="inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition dark:bg-blue-500 dark:hover:bg-blue-600 dark:hover:shadow-lg ml-4"
            >
                Se connecter
            </button>
        </div>
    </form>
</template>

<script>
import axios from "axios";
import VueJwtDecode from "vue-jwt-decode";

export default {
    name: "Login",
    components: {},
    data() {
        return {
            form: {
                email: "",
                password: ""
            },
            errors: {
                email: "",
                password: ""
            }
        };
    },
    methods: {
        submit() {
            axios.post(`${process.env.VUE_APP_API_URL}/authentication_token`, this.form)
                .then(response => {
                    // Get and store the JWT token in the session
                    const token = response.data.token;
                    localStorage.setItem('token', token);

                    // Redirect the user with its role
                    const decodedToken = VueJwtDecode.decode(token);
                    if (decodedToken.roles.includes('ROLE_ADMIN')) {
                        this.$router.push({ name: 'admin.users.index' });
                    } else {
                        this.$router.push({ name: 'Home' });
                    }
                })
                .catch(err => {
                    if (err.response) {
                        this.resetMessages();

                        // Invalid credentials
                        if (err.response.status === 401) {
                            // Set new error fields
                            this.errors.email =
                                "Email ou mot de passe invalide";
                            console.log(err.response.data);
                        } else {
                            this.errors.email =
                                "Une erreur est survenue, veuillez réessayer plus tard.";
                        }
                    } else {
                        // There is no response
                        this.errors.email =
                            "Une erreur est survenue, veuillez réessayer plus tard.";
                    }
                });
        },
        resetMessages() {
            this.errors.email = "";
            this.errors.password = "";
        }
    }
};
</script>
