<template>
	<GuestLayout>
		<form @submit.prevent="submit">
            <div class="grid md:grid-cols-2 gap-4 mb-2">
                <div>
                    <label class="block font-medium text-sm text-gray-700 dark:text-gray-200" for="firstname">Prénom</label>
                    <input class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm dark:border-gray-500 dark:bg-gray-600 dark:text-white block mt-1 w-full"
                        id="firstname" type="text" v-model="form.firstname" />
                </div>
                <div>
                    <label class="block font-medium text-sm text-gray-700 dark:text-gray-200" for="lastname">Nom</label>
                    <input class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm dark:border-gray-500 dark:bg-gray-600 dark:text-white block mt-1 w-full"
                        id="lastname" type="text" v-model="form.lastname" />
                </div>
            </div>
			<div>
				<label class="block font-medium text-sm text-gray-700 dark:text-gray-200"
					for="email">
					Email
				</label>
				<input
					class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm dark:border-gray-500 dark:bg-gray-600 dark:text-white block mt-1 w-full"
					id="email"
					type="email"
					name="email"
					required
					autofocus="autofocus"
                    v-model="form.email"
				>
			</div>

			<div class="mt-4">
				<label class="block font-medium text-sm text-gray-700 dark:text-gray-200"
					for="password">
					Mot de passe
				</label>
				<input
					class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm dark:border-gray-500 dark:bg-gray-600 dark:text-white block mt-1 w-full"
					id="password"
					type="password"
					name="password"
					required
                    v-model="form.password"
				>
			</div>

			<div class="flex items-center justify-end mt-4">
				<router-link
					class="underline text-sm text-gray-600 hover:text-gray-900 dark:text-gray-100 dark:hover:text-gray-400"
					:to="{ name: '' }"
				>
					Vous avez déjà un compte ?
				</router-link>

				<button type="submit" class="inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition dark:bg-blue-500 dark:hover:bg-blue-600 dark:hover:shadow-lg ml-4"
				>
                    S'inscrire
                </button>
			</div>
		</form>
	</GuestLayout>
</template>

<script>
import GuestLayout from "@/views/layouts/GuestLayout.vue";
import axios from 'axios';

export default {
	name: "Register",
	components: {
		GuestLayout,
	},
    data() {
        return {
            form : {
                firstname: '',
                lastname: '',
                email: '',
                password: ''
            }
        }
    },
    methods: {
        async submit() {
            await axios.post(`${process.env.VUE_APP_API_URL}/api/users`, this.form)
                .then((response) => console.log(response))
                .catch((e) => console.log(e));
            this.$router.push({ name: 'login' })
        }
    },
};
</script>
