<template>
	<section
		class="md:mt-32 container max-w-lg px-4 py-8 md:pb-32 mx-auto text-left md:max-w-none md:text-center"
		id="aboutUs"
	>
		<h2 class="text-5xl font-extrabold leading-10 tracking-tight text-left text-gray-900 dark:text-gray-300 dark:text-gray-300 md:text-center sm:leading-none md:text-6xl lg:text-7xl">
			<span class="inline font-atma">A propos de</span>
			<span class="ml-4 relative mt-2 text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 to-indigo-500 md:inline-block font-atma">nous</span>
		</h2>

		<section>
			<section class="flex flex-col md:flex-row items-center justify-between">
				<div class="w-full mt-5 md:px-16 md:mt-12 text-gray-500 dark:text-gray-400 w-full md:w-1/2 mx-auto md:text-center lg:text-lg xl:text-xl space-y-8">
					<p>
						<span class="font-bold text-xl">Hallow-Events</span>, c'est un groupe
						événementiel dont ses membres sont passionés par <span class="font-semibold">Hollow knight</span>. La
						communauté autour de cette licence est très répandue. Elle doit son
						expansion fénoménale au succès de son jeu éponyme et à la suite
						présumée : <span class="underline">Silksong</span> qui est toujours
						en développement.
					</p>
					<p>
						Notre objectif est de vous proposer divers événements, qu'ils soient
						autour de la licence Hollow Knight tout comme sur d'autres sujets de
						cultures que nous aimerions vous partager. Dessins, speedruns,
						séances de cinéma, meet-up et conventions... que ce soit sur des
						thématiques autour de notre chère licence comme sur des inlassables
						de la culture populaire.
					</p>
				</div>
				<div class="w-full md:w-1/2 mx-auto mt-5 text-gray-500 dark:text-gray-400 md:mt-12 md:text-center lg:text-lg xl:text-xl space-y-8">
					<img
						loading="lazy"
						src="@/assets/mascotte.webp"
						alt="Logo entité"
						class="w-96 mx-auto"
					/>
					<p>Voici notre mascotte. Son nom est Ghnarrold</p>
				</div>
			</section>
		</section>
	</section>
</template>

<script>
export default {
	name: "AboutUs",
};
</script>