<template>
    <section
        class="w-full px-8 py-16 bg-gray-100 dark:bg-gray-800 xl:px-8"
        id="contactUs"
    >
        <div class="max-w-5xl mx-auto">
            <div class="flex flex-col items-center md:flex-row">
                <div class="w-full space-y-5 md:w-3/5 md:pr-16">
                    <p
                        class="font-medium text-blue-500 dark:text-blue-400 uppercase"
                    >
                        Formulaire de contact
                    </p>
                    <h2
                        class="font-atma text-2xl font-extrabold leading-none text-black dark:text-white sm:text-3xl md:text-5xl"
                    >
                        Contactez l'équipe
                    </h2>
                    <p
                        class="text-xl text-gray-600 dark:text-gray-400 md:pr-16"
                    >
                        Peut-être avez-vous une idée ou des questions à nous
                        transmettre? A moins que vous ne souhaiteriez organiser
                        des projets avec nous? C'est
                        <span class="underline">ici</span> que tout commence !
                        <span class="text-sm block mt-4"
                            >Veuillez noter que vos messages sont enregistrés.
                            Nous nous réservons le droit de ne pas vous
                            répondre.</span
                        >
                    </p>
                </div>

                <div class="w-full mt-16 md:mt-0 md:w-2/5">
                    <form
                        @submit.prevent="submit"
                        class="relative z-10 h-auto p-8 pt-4 pb-10 overflow-hidden bg-white dark:bg-gray-700 border-b-2 border-gray-300 dark:border-gray-600 rounded-lg shadow-2xl px-7"
                    >
                        <!-- Alert Success -->
                        <div
                            v-if="alertSuccess"
                            class="flex bg-green-100 rounded-lg p-4 mb-4 text-sm text-green-700"
                            role="alert"
                        >
                            <InfoSvg class="w-5 h-5 inline mr-3" />
                            <div>
                                <span class="font-medium"
                                    >Tout s'est bien passé</span
                                >
                                {{ alertSuccess }}
                            </div>
                        </div>

                        <!-- Alert Error -->
                        <div
                            v-if="alertError"
                            class="flex bg-red-100 rounded-lg p-4 mb-4 text-sm text-red-700"
                            role="alert"
                        >
                            <InfoSvg class="w-5 h-5 inline mr-3" />
                            <div>
                                <span class="font-medium">Erreur</span>
                                {{ alertError }}
                            </div>
                        </div>

                        <div class="py-3">
                            <input
                                type="text"
                                v-model.lazy="contactMessage.email"
                                class="block w-full px-4 dark:text-white dark:bg-gray-600 dark:placeholder-gray-200 dark:border-gray-500 border border-2 border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none"
                                placeholder="Email"
                            />
                            <!-- Form Error -->
                            <div
                                v-if="errors.email"
                                class="flex mt-2 text-sm text-red-700 dark:text-red-500"
                                role="alert"
                            >
                                {{ errors.email }}
                            </div>
                        </div>

                        <div class="py-3 mb-4">
                            <textarea
                                v-model.lazy="contactMessage.body"
                                placeholder="Votre message..."
                                rows="4"
                                class="block w-full px-4 dark:text-white dark:bg-gray-600 dark:placeholder-gray-200 dark:border-gray-500 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none resize-none"
                            ></textarea>
                            <!-- Form Error -->
                            <div
                                v-if="errors.body"
                                class="flex mt-2 text-sm text-red-700 dark:text-red-500"
                                role="alert"
                            >
                                {{ errors.body }}
                            </div>
                        </div>

                        <div class="block">
                            <button
                                type="submit"
                                class="w-full px-3 py-4 font-medium text-white bg-blue-600 dark:bg-blue-700 transition duration-200 ease-in-out transform hover:scale-105 rounded-lg"
                            >
                                Envoyer
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import axios from "axios";
import InfoSvg from "@/assets/icon/info.svg";

export default {
    name: "ContactUs",
    components: {
        InfoSvg
    },
    data() {
        return {
            contactMessage: {
                email: "",
                body: ""
            },
            alertSuccess: "",
            alertError: "",
            errors: {
                email: "",
                body: ""
            }
        };
    },
    methods: {
        submit() {
            axios
                .post("http://localhost:3002/send-message", {
                    email: this.contactMessage.email,
                    body: this.contactMessage.body
                })
                .then(() => {
                    this.resetFields();
                    this.resetMessages();

                    this.alertSuccess = "Message envoyé avec succès";
                })
                .catch(err => {
                    if (err.response) {
                        this.resetMessages();

                        // If sent a too many request
                        if (err.response.status === 429) {
                            this.alertError =
                                "Vous avez dépassé le nombre de requêtes autorisées.";
                        } else if (err.response.status === 400) {
                            // Set new error fields
                            err.response.data.errors.forEach(error => {
                                this.errors[error.param] = error.msg;
                            });
                        } else if (err.response.status === 403) {
                            this.alertError =
                                "Vous êtes sur la Blacklist. Vous ne pouvez plus envoyer de messages";
                        } else {
                            this.alertError =
                                "Une erreur est survenue, veuillez réessayer plus tard.";
                        }
                    } else {
                        // There is no response
                        this.alertError =
                            "Une erreur est survenue, veuillez réessayer plus tard.";
                    }
                });
        },
        resetMessages() {
            this.alertSuccess = "";
            this.alertError = "";
            this.errors.email = "";
            this.errors.body = "";
        },
        resetFields() {
            this.contactMessage.email = "";
            this.contactMessage.body = "";
        }
    }
};
</script>
