<template>
	<section
		class="container max-w-lg px-4 py-8 md:py-24 mx-auto text-left md:max-w-none md:text-center"
		id="findUs"
	>
		<h2 class="text-5xl font-extrabold leading-10 tracking-tight text-left text-gray-900 dark:text-gray-300 md:text-center sm:leading-none md:text-6xl lg:text-7xl">
			<span class="inline font-atma">Retrouver-nous sur</span>
			<span class="ml-4 font-atma relative mfrom-indigo-600 to-indigo-500 md:inline-block">les réseaux</span>
		</h2>
		<section>
			<div class="flex flex-col md:flex-row items-center justify-around space-y-8 md:space-y-0">
				<div class="mt-5 text-gray-500 mt-12 md:max-w-lg md:text-center lg:text-lg space-y-8">
					<a
						href="https://twitter.com/TeamCherryGames"
						target="_blank"
						rel="noopener"
						class="w-full focus:outline-none text-white font-semibold md:font-bold text-lg md:text-2xl py-3 px-6 md:py-6 md:px-12 rounded-full bg-blue-400 hover:bg-blue-500 hover:shadow-lg flex items-center justify-center mx-auto select-none transform hover:scale-110 transition duration-200 ease-in-out"
					>
						<TwitterSvg class="mr-2 w-10 h-10" />
						Nous suivre sur Twitter
					</a>

					<a
						href="https://discord.gg/hollowknight"
						target="_blank"
						rel="noopener"
						class="w-full focus:outline-none text-white font-semibold md:font-bold text-lg md:text-2xl py-3 px-6 md:py-6 md:px-12 rounded-full bg-discord-purple hover:bg-blue-600 hover:bg-indigo-500 flex items-center justify-center mx-auto select-none transform hover:scale-110 transition duration-200 ease-in-out"
					>
						<DiscordSvg class="w-8 h-8 mr-2" />
						Rejoindre le Discord
					</a>

					<a
						href="https://m.twitch.tv/directory/game/Hollow%20Knight"
						target="_blank"
						rel="noopener"
						class="w-full focus:outline-none text-white font-semibold md:font-bold text-lg md:text-2xl py-3 px-6 md:py-6 md:px-12 rounded-full bg-purple-400 hover:bg-purple-500 hover:shadow-lg flex items-center justify-center mx-auto select-none transform hover:scale-110 transition duration-200 ease-in-out"
					>
						<TwitchSvg class="w-8 h-8 mr-2" />
						Suivre nos streams
					</a>

					<a
						href="https://shiozen-gekkou.fr:8000/rss"
						target="_blank"
						rel="noopener"
						class="w-full focus:outline-none text-white font-semibold md:font-bold text-lg md:text-2xl py-3 px-6 md:py-6 md:px-12 rounded-full bg-yellow-400 hover:bg-yellow-500 hover:shadow-lg flex items-center justify-center mx-auto select-none transform hover:scale-110 transition duration-200 ease-in-out"
					>
						<RssSvg class="w-8 h-8 mr-2" />
						Suivre nos événements
					</a>
				</div>
				<div class="w-full mt-5 text-gray-500 md:mt-12 md:max-w-lg md:text-center lg:text-lg space-y-8">
					<iframe
						src="https://discord.com/widget?id=283467363729408000&amp;theme=dark"
						allowtransparency="true"
						class="mt-8"
						sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"
						width="300"
						height="380"
						frameborder="0"
					></iframe>
				</div>
			</div>
		</section>
	</section>
</template>

<script>
import TwitterSvg from "@/assets/icon/twitter.svg";
import DiscordSvg from "@/assets/icon/discord.svg";
import TwitchSvg from "@/assets/icon/twitch.svg";
import RssSvg from "@/assets/icon/rss.svg";

export default {
	name: "FindUs",
	components: {
		TwitterSvg,
		DiscordSvg,
		TwitchSvg,
		RssSvg,
	},
};
</script>