<template>
	<section>
		<section class="w-full antialiased bg-hk-purple dark:bg-indigo-800 bg-contain">
			<div class="container pb-16 md:py-2 mx-auto text-center sm:px-4 flex flex-col md:flex-row">
				<aside class="mt-4 md:mt-0 relative md:w-2/5 flex justify-center items-center">
					<div class="absolute w-32 h-32 md:w-64 md:h-64 bg-purple-300 dark:bg-purple-500 filter blur-3xl top-8 md:top-16"></div>
					<img
						src="@/assets/mascotte.webp"
						alt="Logo entité"
						class="w-56 md:w-full z-10"
					/>
				</aside>
				<main class="md:w-3/5 mt-6 md:mt-0 md:py-32">
					<h1 class="text-4xl font-extrabold leading-10 tracking-tight sm:text-5xl sm:leading-none md:text-6xl xl:text-8xl bg-clip-text text-transparent bg-gradient-to-r from-yellow-500 to-yellow-300 dark:from-yellow-600 dark:to-yellow-500">
						<span class="block font-atma">Hallow-Events</span>
						<span class="relative inline-block text-4xl mt-3 bg-clip-text text-transparent bg-gradient-to-r from-yellow-500 to-yellow-400 dark:from-yellow-600 dark:to-yellow-600">L'événementiel, c'est démentiel!</span>
					</h1>
					<div class="max-w-lg mx-auto mt-6 text-sm text-center text-indigo-100 md:mt-12 sm:text-base md:max-w-xl md:text-lg xl:text-xl">
						Vous aimez les jeux-vidéos, le dessin, peut-être le cinéma... Depuis
						votre ordi tout comme face au soleil, venez avec nous pour sourir et
						vous amuser !
					</div>
					<div class="flex flex-col items-center mt-12 text-center">
						<span class="relative inline-flex w-full md:w-auto">
							<router-link
								to="/evenements"
								class="inline-flex items-center justify-center w-full mx-4 sm:mx-0 px-8 xl:px-12 py-4 xl:py-6 text-base font-bold leading-6 text-indigo-500 dark:text-indigo-200 text-xl xl:text-2xl hover:text-white dark:hover:text-indigo-800 bg-purple-300 border border-transparent rounded-full md:w-auto bg-indigo-300 dark:bg-hk-purple hover:bg-indigo-500 dark:hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 select-none transform hover:scale-110 transition duration-200 ease-in-out cursor-pointer"
							>
								Voir nos événements</router-link>
						</span>
					</div>
				</main>
			</div>
		</section>
		<section class="h-32 w-full antialiased bg-hk-purple dark:bg-indigo-800 transform -skew-y-2 -translate-y-12"></section>
	</section>
</template>

<script>
export default {
	name: "Header",
};
</script>