<template>
	<section
		class="w-full py-12 lg:py-24"
		id="ourTeam"
	>
		<div class="max-w-6xl px-12 mx-auto text-center">
			<div class="space-y-12 md:text-center">
				<div class="max-w-3xl mb-20 space-y-5 sm:mx-auto sm:space-y-4">
					<h2 class="
              text-center text-5xl
              font-extrabold
              leading-10
              tracking-tight
              text-left text-gray-900
              dark:text-gray-300
              md:text-center
              sm:leading-none
              md:text-6xl
              lg:text-7xl
            ">
						<span class="inline font-atma">Notre</span>
						<span class="
				ml-4
                font-atma
                relative
                mt-2
                text-transparent
                bg-clip-text bg-gradient-to-br
                from-indigo-600
                to-indigo-500
                md:inline-block
              ">équipe</span>
					</h2>
					<p class="text-xl text-gray-500 dark:text-gray-400">
						WePonies c'est aussi une équipe soudé ! Plus qu'un groupe d'amis,
						l'entraide dans la bonne humeur est ce qui nous permet de vous
						offrir le meilleur.
					</p>
				</div>
			</div>

			<div class="grid grid-cols-1 gap-10 sm:grid-cols-2 lg:grid-cols-3">
				<UserCard
					username="Benji"
					role="Admin · Fondatrice"
					picture="https://cdn.discordapp.com/avatars/127426811150860288/20d9d55cf2bd939048f7c9f156f9d297.webp"
					description="Blablabla..."
				>
					<a
						href="#_"
						class="flex-1 block p-5 text-center text-gray-300 transition duration-200 ease-out hover:bg-gray-100 hover:text-gray-500"
					>
						<TwitterSvg class="mx-auto w-8 h-8" />
					</a>
					<a
						href="#_"
						class=" flex-1 block p-5 text-center text-gray-300 transition duration-200 ease-out hover:bg-gray-100 hover:text-gray-500"
					>
						<TwitterSvg class="mx-auto w-8 h-8" />
					</a>
					<a
						href="#_"
						class=" flex-1 block p-5 text-center text-gray-300 transition duration-200 ease-out hover:bg-gray-100 hover:text-gray-500"
					>
						<TwitterSvg class="mx-auto w-8 h-8" />
					</a>
				</UserCard>

				<UserCard
					username="Lazy"
					role="Modérateur"
					picture="https://cdn.discordapp.com/avatars/185166127985459200/4eb4704e7b1bd9ae8e8bbd0e59def48a.webp"
					description="Blablabla..."
				>
					<a
						href="#_"
						class="flex-1 block p-5 text-center text-gray-300 transition duration-200 ease-out hover:bg-gray-100 hover:text-gray-500"
					>
						<TwitterSvg class="mx-auto w-8 h-8" />
					</a>
					<a
						href="#_"
						class=" flex-1 block p-5 text-center text-gray-300 transition duration-200 ease-out hover:bg-gray-100 hover:text-gray-500"
					>
						<TwitterSvg class="mx-auto w-8 h-8" />
					</a>
					<a
						href="#_"
						class=" flex-1 block p-5 text-center text-gray-300 transition duration-200 ease-out hover:bg-gray-100 hover:text-gray-500"
					>
						<TwitterSvg class="mx-auto w-8 h-8" />
					</a>
				</UserCard>

				<UserCard
					username="Sonia"
					role="Modérateur"
					picture="https://cdn.discordapp.com/avatars/329337012895088641/28bbebc31a8f2ed443c14d6ea87e004a.webp"
					description="Blablabla..."
				>
					<a
						href="#_"
						class="flex-1 block p-5 text-center text-gray-300 transition duration-200 ease-out hover:bg-gray-100 hover:text-gray-500"
					>
						<TwitterSvg class="mx-auto w-8 h-8" />
					</a>
					<a
						href="#_"
						class=" flex-1 block p-5 text-center text-gray-300 transition duration-200 ease-out hover:bg-gray-100 hover:text-gray-500"
					>
						<TwitterSvg class="mx-auto w-8 h-8" />
					</a>
					<a
						href="#_"
						class=" flex-1 block p-5 text-center text-gray-300 transition duration-200 ease-out hover:bg-gray-100 hover:text-gray-500"
					>
						<TwitterSvg class="mx-auto w-8 h-8" />
					</a>
				</UserCard>
			</div>
		</div>
	</section>
</template>

<script>
import UserCard from "@/components/UserCard.vue";
import TwitterSvg from "@/assets/icon/twitter.svg";

export default {
	name: "OurTeam",
	components: {
		UserCard,
		TwitterSvg
	},
};
</script>