<template>
	<div
		class="container max-w-lg px-4 py-16 mx-auto text-left md:max-w-none md:text-center"
		id="partners"
	>
		<h2 class="mb-16 text-5xl font-extrabold leading-10 tracking-tight text-left text-gray-900 dark:text-gray-300 md:text-center sm:leading-none md:text-6xl lg:text-7xl">
			<span class="inline font-atma">Nos</span>
			<span class="ml-4 relative mt-2 text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 to-indigo-500 md:inline-block font-atma">partenaires</span>
		</h2>
		<section class="flex flex-col md:flex-row items-center justify-around space-y-8 md:space-y-0">
			<div class="mt-5 text-gray-500 dark:text-gray-400 md:mt-12 md:max-w-lg md:text-center lg:text-lg space-y-8">
				<img
					src="/storage/persistent/francoponies-logo.webp"
					alt="Logo réseau"
					class="w-40 md:w-60 mx-auto"
				/>
				<p>
					Nous faisons partie du réseau
					<span class="underline">FrancHollowKnight</span>.
				</p>
				<p>
					Le réseau comprends
					<a
						href="#"
						target="_blank"
						rel="noopener"
						class="underline"
					>CrystalComics</a>,
					<a
						href="#"
						target="_blank"
						rel="noopener"
						class="underline"
					>Need For Hallow</a>,
					<a
						href="#"
						target="_blank"
						rel="noopener"
						class="underline"
					>Hollow France</a>,
					<a
						href="#"
						target="_blank"
						rel="noopener"
						class="underline"
					>Le chevalier du vide</a>,
					<a
						href="#"
						target="_blank"
						rel="noopener"
						class="underline"
					>Hollower.fr</a>
					et
					<a
						href="#"
						target="_blank"
						rel="noopener"
						class="underline"
					>Hallownest.Social
					</a>
				</p>
			</div>
			<div>

				<a
					href="https://discord.gg/hollowknight"
					target="_blank"
					rel="noopener"
					class="w-full md:w-auto text-center inline-block bg-discord-purple font-semibold text-white px-8 py-4 rounded-full transition duration-500 ease-in-out hover:bg-indigo-500 select-none transform hover:scale-110 transition duration-200 ease-in-out"
				>
					<div class="flex flex-row justify-center items-center">
						<DiscordSvg class="w-8 h-8 mr-2" />
						<span>Rejoindre le discord Hollow Knight</span>
					</div>
				</a>
			</div>
		</section>
	</div>
</template>

<script>
import DiscordSvg from "@/assets/icon/discord.svg";

export default {
	name: "Partners",
	components: {
		DiscordSvg
	}
};
</script>