<template>
	<article class="w-full border border-gray-200 rounded-lg shadow-sm flex h-full flex-col justify-between">
		<div class="flex flex-col items-center justify-center p-10"><img
				loading="lazy"
				:src="picture"
				class="w-32 h-32 mb-6 rounded-full"
			>
			<h2 class="text-lg font-medium capitalize text-gray-900 dark:text-gray-100"> {{ username }} </h2>
			<p class="font-medium text-blue-500">{{ role }}</p>
			<p class="text-gray-400 dark:text-gray-300">{{ description }}</p>
		</div>
		<div class="flex border-t border-gray-200 divide-x divide-gray-200">
			<slot></slot>
		</div>
	</article>
</template>

<script>
export default {
	name: "UserCard",
	props: {
		username: {
			type: String,
			default: "Benji",
		},
		role: {
			type: String,
			default: "Admin · Fondateur",
		},
		picture: {
			type: String,
			default: "https://cdn.devdojo.com/images/june2021/headshot2.jpg",
		},
		description: {
			type: String,
			default: "A remplir",
		},
	},
	components: {},
};
</script>