<template>
    <nav
        class="bg-white dark:bg-gray-700 border-b border-gray-100 dark:border-gray-500"
    >
        <!-- Primary Navigation Menu -->
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex justify-between h-16">
                <div class="flex">
                    <!-- Logo -->
                    <div class="flex-shrink-0 flex items-center">
                        <router-link :to="{ name: 'Home' }">
                            <aside class="relative">
                                <div
                                    class="absolute w-16 h-12 bg-purple-300 filter blur-2xl "
                                ></div>
                                <img
                                    src="@/assets/logo.webp"
                                    alt="Weponies Logo"
                                    class="relative z-10 w-16"
                                />
                            </aside>
                        </router-link>
                    </div>

                    <!-- Navigation Links -->

                    <div class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex">
                        <router-link
                            class="inline-flex items-center px-1 pt-1 border-b-2 border-transparent  text-sm font-medium leading-5 text-gray-900 dark:text-white focus:outline-none focus:border-indigo-700 transition"
                            :class="{
                                'border-indigo-500 dark:border-gray-500':
                                    $route.name === 'admin.users.index'
                            }"
                            :to="{ name: 'admin.users.index' }"
                        >
                            Utilisateurs
                        </router-link>
                    </div>

                    <div class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex">
                        <router-link
                            class="inline-flex items-center px-1 pt-1 border-b-2 border-transparent  text-sm font-medium leading-5 text-gray-900 dark:text-white focus:outline-none focus:border-indigo-700 transition"
                            :class="{
                                'border-indigo-500 dark:border-gray-500':
                                    $route.name === 'admin.events.index'
                            }"
                            :to="{ name: 'admin.events.index' }"
                        >
                            Evénements
                        </router-link>
                    </div>

                    <div class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex">
                        <router-link
                            class="inline-flex items-center px-1 pt-1 border-b-2 border-transparent  text-sm font-medium leading-5 text-gray-900 dark:text-white focus:outline-none focus:border-indigo-700 transition"
                            :class="{
                                'border-indigo-500 dark:border-gray-500':
                                    $route.name ===
                                    'admin.eventCategories.index'
                            }"
                            :to="{ name: 'admin.eventCategories.index' }"
                        >
                            Catégories
                        </router-link>
                    </div>

                    <div class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex">
                        <router-link
                            class="inline-flex items-center px-1 pt-1 border-b-2 border-transparent  text-sm font-medium leading-5 text-gray-900 dark:text-white focus:outline-none focus:border-indigo-700 transition"
                            :class="{
                                'border-indigo-500 dark:border-gray-500':
                                    $route.name ===
                                    'admin.userMessages.needCheck'
                            }"
                            :to="{ name: 'admin.userMessages.needCheck' }"
                        >
                            Messages d'utilisateurs
                        </router-link>
                    </div>
                </div>

                <div class="hidden sm:flex sm:items-center sm:ml-6">
                    <!-- Add event button -->
                    <article class="hidden lg:block">
                        <router-link
                            :to="{ name: 'admin.events.create' }"
                            class="focus:outline-none text-green-600 text-sm py-2.5 px-5 rounded-md border border-green-600 hover:bg-green-50 dark:hover:bg-green-800 flex items-center"
                        >
                            <PlusSvg class="w-4 h-4 mr-2" />
                            Nouvel événement
                        </router-link>
                    </article>

                    <!-- Teams Dropdown -->

                    <!-- Settings Dropdown -->
                    <div class="ml-3 relative">
                        <div class="relative">
                            <div>
                                <span
                                    class="inline-flex rounded-md border-green-700"
                                >
                                    <button
                                        @click.prevent="isOpen = !isOpen"
                                        type="button"
                                        class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-gray-500 dark:text-gray-300 bg-white dark:bg-gray-700  hover:text-gray-700 dark:hover:text-white focus:outline-none transition"
                                    >
                                        {{ user.fullname }}
                                        <svg
                                            class="ml-2 -mr-0.5 h-4 w-4"
                                            xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 20 20"
                                            fill="currentColor"
                                        >
                                            <path
                                                fill-rule="evenodd"
                                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                                clip-rule="evenodd"
                                            ></path>
                                        </svg>
                                    </button>
                                </span>
                            </div>

                            <div
                                v-show="isOpen"
                                x-transition:enter="transition ease-out duration-200"
                                x-transition:enter-start="transform opacity-0 scale-95"
                                x-transition:enter-end="transform opacity-100 scale-100"
                                x-transition:leave="transition ease-in duration-75"
                                x-transition:leave-start="transform opacity-100 scale-100"
                                x-transition:leave-end="transform opacity-0 scale-95"
                                class="absolute z-50 mt-2 w-48 rounded-md shadow-lg origin-top-right right-0 "
                                style="display: none;"
                                @click.prevent="isOpen = !isOpen"
                            >
                                <div
                                    class="rounded-md ring-1 ring-black ring-opacity-5 py-1 bg-white dark:bg-gray-600"
                                >
                                    <!-- Account Management -->
                                    <div
                                        class="block px-4 py-2 text-xs text-gray-400"
                                    >
                                        Gérer le compte
                                    </div>

                                    <router-link :to="{ name: 'profile' }" class="block px-4 py-2 text-sm leading-5 text-gray-700 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:bg-gray-100 dark:focus:bg-gray-700 transition">
                                        Profil
                                    </router-link>

                                    <div
                                        class="border-t border-gray-100 dark:border-gray-500"
                                    ></div>

                                    <!-- <a
                                        class="block px-4 py-2 text-sm leading-5 text-gray-700 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:bg-gray-100 dark:focus:bg-gray-700 transition"
                                        href="https://shiozen-gekkou.fr:8000/staff/ip-blacklist"
                                        >Ips blacklistés</a
                                    > -->

                                    <!-- Authentication -->
                                    <button
                                        class="text-left w-full inline px-4 py-2 text-sm leading-5 text-gray-700 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:bg-gray-100 dark:focus:bg-gray-700 transition"
                                        @click="logout"
                                    >
                                        Se déconnecter
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Hamburger -->
                <div class="-mr-2 flex items-center sm:hidden">
                    <button
                        @click="menuOpen = !menuOpen"
                        class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition"
                    >
                        <svg
                            class="h-6 w-6"
                            stroke="currentColor"
                            fill="none"
                            viewBox="0 0 24 24"
                        >
                            <path
                                class="inline-flex"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16"
                            ></path>
                            <path
                                class="hidden"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M6 18L18 6M6 6l12 12"
                            ></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <!-- Responsive Navigation Menu -->
        <div v-show="menuOpen" class="md:hidden">
            <!-- Responsive Settings Options -->
            <div class="pt-4 pb-1 border-t border-gray-200">
                <div class="flex items-center px-4">
                    <div>
                        <div
                            class="font-medium text-base text-gray-800 dark:text-gray-400"
                        >
                            {{ user.fullname }}
                        </div>
                        <div
                            class="font-medium text-sm text-gray-500 dark:text-gray-300"
                        >
                            admin@dev.com
                        </div>
                    </div>
                </div>

                <div class="mt-3 space-y-1">
                    <!-- Account Management -->
                    <router-link :to="{ name: 'profile' }" class="block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium text-gray-600 dark:text-gray-300 hover:text-gray-800 hover:bg-gray-50 hover:border-gray-300 focus:outline-none focus:text-gray-800 dark:focus:text-white dark:focus:bg-gray-800 focus:bg-gray-50 focus:border-gray-300 transition">
                        Profil
                    </router-link>

                    <router-link
                        :to="{ name: 'admin.users.index' }"
                        class="block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium text-gray-600 dark:text-gray-300 hover:text-gray-800 hover:bg-gray-50 hover:border-gray-300 focus:outline-none focus:text-gray-800 dark:focus:text-white dark:focus:bg-gray-800 focus:bg-gray-50 focus:border-gray-300 transition"
                    >
                        Utilisateurs
                    </router-link>

                    <router-link
                        :to="{ name: 'admin.events.index' }"
                        class="block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium text-gray-600 dark:text-gray-300 hover:text-gray-800 hover:bg-gray-50 hover:border-gray-300 focus:outline-none focus:text-gray-800 dark:focus:text-white dark:focus:bg-gray-800 focus:bg-gray-50 focus:border-gray-300 transition"
                    >
                        Evénements
                    </router-link>

                    <router-link
                        class="block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium text-gray-600 dark:text-gray-300 hover:text-gray-800 hover:bg-gray-50 hover:border-gray-300 focus:outline-none focus:text-gray-800 dark:focus:text-white dark:focus:bg-gray-800 focus:bg-gray-50 focus:border-gray-300 transition"
                        :to="{ name: 'admin.eventCategories.index' }"
                    >
                        Catégories
                    </router-link>

                    <router-link
                        class="block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium text-gray-600 dark:text-gray-300 hover:text-gray-800 hover:bg-gray-50 hover:border-gray-300 focus:outline-none focus:text-gray-800 dark:focus:text-white dark:focus:bg-gray-800 focus:bg-gray-50 focus:border-gray-300 transition"
                        :to="{ name: 'admin.userMessages.needCheck' }"
                    >
                        Messages d'utilisateurs
                    </router-link>

                    <!-- <a
                        class="block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium text-gray-600 dark:text-gray-300 hover:text-gray-800 hover:bg-gray-50 hover:border-gray-300 focus:outline-none focus:text-gray-800 dark:focus:text-white dark:focus:bg-gray-800 focus:bg-gray-50 focus:border-gray-300 transition"
                        href="#"
                    >
                        Ips blacklistés
                    </a> -->

                    <!-- Authentication -->
                    <button
                        class="inline-block w-full text-left pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium text-gray-600 dark:text-gray-300 hover:text-gray-800 hover:bg-gray-50 hover:border-gray-300 focus:outline-none focus:text-gray-800 dark:focus:text-white dark:focus:bg-gray-800 focus:bg-gray-50 focus:border-gray-300 transition"
                        @click="logout"
                    >
                        Se déconnecter
                    </button>
                </div>
            </div>
        </div>
    </nav>
</template>

<script>
import axios from "axios";
import PlusSvg from "@/assets/icon/plus.svg";
export default {
    name: "Nav",
    components: {
        PlusSvg
    },
    data() {
        return {
            user: {},
            isOpen: false,
            menuOpen: false
        };
    },

    mounted() {
        axios
            .get(`${process.env.VUE_APP_API_URL}/users/me`)
            .then(response => (this.user = response.data));
    },

    methods: {
        logout() {
            localStorage.removeItem("token");
            this.$router.push({ name: "Home" });
        }
    }
};
</script>
