<template>
	<article class="mt-8 md:mt-16 flex flex-col items-center sm:px-5 md:flex-row">
		<div class="w-full md:w-1/2">
			<!--  TODO Put the correct link to an event -->
			<router-link
				:to="{ name: 'events.show', params: {id: event.id}}"
				class="block text-transparent"
			>
				<img
					loading="lazy"
					class="object-cover w-full h-full rounded-lg max-h-64 sm:max-h-96"
					:src="(event.pictureAttached && event.pictureAttached !== null ? event.pictureAttached : require('@/assets/images/image-not-found.png'))"
					alt="Event"
				>
			</router-link>
		</div>
		<div class="flex flex-col items-start justify-center w-full h-full py-6 mb-6 md:mb-0 md:w-1/2">
			<div class="flex flex-col items-start justify-center h-full space-y-3 transform md:pl-10 lg:pl-16 md:space-y-5">
				<div class="flex flex-row flex-wrap space-x-2">
					<!-- <div
						class="my-1 bg-purple-500 dark:bg-purple-700 flex items-center px-3 py-1.5 leading-none rounded-full text-xs font-medium uppercase text-white inline-block"
						v-for="category in event.categories"
						:key="category.id"
					>
						<span>{{ category.title }}</span>
					</div> -->
					<div
						v-show="event.categories.length == 0"
						class="bg-purple-500 dark:bg-purple-700 flex items-center px-3 py-1.5 leading-none rounded-full text-xs font-medium uppercase text-white inline-block"
					>
						<span>{{ 'Without category' }}</span>
					</div>
				</div>
				<!-- TODO Put the correct link to an event-->
				<h1 class="font-bold leading-none text-4xl text-black dark:text-gray-300"><a href="#">{{ event.title }}</a>
				</h1>
				<p class="text-gray-500 dark:text-gray-400 overflow-hidden break-words">{{ event.description.slice(0, 181) }}</p>
				<p class="pt-2 text-sm font-medium dark:text-gray-200">
					<span class="mx-1">{{ this.$dayjs(event.beginAt).format("Le YYYY-MM-DD à HH:MM") }}</span>
					<span class="mx-1 text-gray-600 dark:text-gray-400">{{ this.$dayjs(event.finishAt).format("Le YYYY-MM-DD à HH:MM") }}</span>
				</p>
			</div>
		</div>
	</article>
</template>

<script>
export default {
	name: "BigEventCard",
	props: {
		event: Object
	},
};
</script>