<template>
    <article class="grid pb-10 sm:px-5 gap-x-8 gap-y-16">
        <div
            class="flex flex-col items-start col-span-12 space-y-3 sm:col-span-6 xl:col-span-4"
        >
            <!--  TODO Put the correct link to an event -->
            <router-link
                :to="{ name: 'events.show', params: { id: event.id } }"
                class="block text-transparent"
            >
                <img
                    loading="lazy"
                    class="object-cover w-full mb-2 overflow-hidden rounded-lg shadow-sm max-h-56"
                    :src="
                        event.pictureAttached && event.pictureAttached !== null
                            ? event.pictureAttached
                            : require('@/assets/images/image-not-found.png')
                    "
                    alt="Event"
                />
            </router-link>

            <div class="flex flex-row flex-wrap space-x-2">
                <div v-if="event.categories.length > 0">
                    <div
                        class="my-1 bg-purple-500 dark:bg-purple-700 flex items-center px-3 py-1.5 leading-none rounded-full text-xs font-medium uppercase text-white inline-block"
                        v-for="category in event.categories"
                        :key="category.id"
                    >
                        <span>{{ category.title }}</span>
                    </div>
                </div>

                <div
                    v-if="event.categories.length === 0"
                    class="bg-purple-500 dark:bg-purple-700 flex items-center px-3 py-1.5 leading-none rounded-full text-xs font-medium uppercase text-white inline-block"
                >
                    <span>{{ "Without category" }}</span>
                </div>
            </div>
            <!--  TODO Put the correct link to an event -->
            <h2
                class="dark:text-gray-300 text-lg font-bold sm:text-xl md:text-2xl"
            >
                <a href="#">{{ event.title }}</a>
            </h2>
            <p
                class="text-sm text-gray-500 dark:text-gray-400 overflow-hidden break-words"
            >
                {{ event.description.slice(0, 181) }}
            </p>
            <p class="pt-2 text-xs font-medium dark:text-gray-200">
                <span class="mx-1">{{
                    this.$dayjs(event.beginAt).format("Le YYYY-MM-DD à HH:MM")
                }}</span>
                ·
                <span class="mx-1 text-gray-600 dark:text-gray-400">{{
                    this.$dayjs(event.finishAt).format("Le YYYY-MM-DD à HH:MM")
                }}</span>
            </p>
        </div>
    </article>
</template>

<script>
export default {
    name: "EventCard",
    props: {
        event: Object
    }
};
</script>
